Node-RED/smartHome.json
[
    {
        "id": "f387a27c.808d3",
        "type": "tab",
        "label": "GLOBAL"
    },
    {
        "id": "9bfc0359.871c9",
        "type": "tab",
        "label": "Alexa Commands"
    },
    {
        "id": "7dbbdbf3.365084",
        "type": "tab",
        "label": "Dashboard States"
    },
    {
        "id": "14dd6c8.d5f3494",
        "type": "tab",
        "label": "H&T Sensor"
    },
    {
        "id": "20687cba.1c3764",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Smart Home",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b1ec29cf.e84df8",
        "type": "ui_tab",
        "z": "",
        "name": "Smart Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a4375fdd.d3a7c",
        "type": "ui_group",
        "z": "",
        "name": "Lights & Plugs",
        "tab": "b1ec29cf.e84df8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "807503c.b0528",
        "type": "ui_group",
        "z": "",
        "name": "Lifespan",
        "tab": "b1ec29cf.e84df8",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bacb1987.c1aa28",
        "type": "postgresdb",
        "z": "",
        "hostname": "localhost",
        "port": "5432",
        "db": "smarthome",
        "ssl": false
    },
    {
        "id": "3d3d8fed.cc3ab",
        "type": "telegram bot",
        "z": "",
        "botname": "MySmartHome",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "verboselogging": false
    },
    {
        "id": "3d318576.51704a",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "b1ec29cf.e84df8",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "42efb286.84806c",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "b1ec29cf.e84df8",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "d155d55d.4664c8",
        "type": "ui_group",
        "z": "",
        "name": "Dehumidifier",
        "tab": "b1ec29cf.e84df8",
        "order": 5,
        "disp": true,
        "width": 6
    },
    {
        "id": "2aba1eb9.69a842",
        "type": "mqtt-broker",
        "z": "",
        "name": "SmartHome MQTT",
        "broker": "192.168.0.150",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bb3e4354.f2de7",
        "type": "ui_group",
        "z": "",
        "name": "Pressure",
        "tab": "b1ec29cf.e84df8",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "95895f33.f7ce9",
        "type": "ui_tab",
        "z": "",
        "name": "History",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1190da66.7981e6",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "95895f33.f7ce9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "79846c2f.e66d64",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "95895f33.f7ce9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b82cd984.91e4e8",
        "type": "ui_group",
        "z": "",
        "name": "Pressure",
        "tab": "95895f33.f7ce9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4f82fdb9.222414",
        "type": "amazon-echo-hub",
        "z": "9bfc0359.871c9",
        "port": "80",
        "x": 112.5,
        "y": 1071.0000162124634,
        "wires": [
            [
                "40e611bd.22063",
                "e039f50f.01c6c8",
                "54a3d62.d77cc28",
                "dd70e66b.f604d8",
                "cc7c14f4.849af8",
                "9537d359.0d72b",
                "5719257e.b2b08c",
                "5ec97954.28b088",
                "75771b89.0c5934",
                "1cec15e0.5e87aa",
                "11d5b744.b19569",
                "f50a44cf.00c058",
                "f5f8ab64.000618",
                "7a3d1af6.25ad14",
                "44087d44.f23024",
                "ea534a02.e68c88",
                "ee3619f2.485b08",
                "9bc9a3c3.acec1",
                "784d926b.7d63bc"
            ]
        ]
    },
    {
        "id": "40e611bd.22063",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Wohnzimmer Licht",
        "topic": "",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "d834a5ae.c86768"
            ]
        ]
    },
    {
        "id": "d834a5ae.c86768",
        "type": "mqtt out",
        "z": "9bfc0359.871c9",
        "name": "Living Room Light OUT",
        "topic": "shellies/shelly1-B9CFBD/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "465a87bd.caa558",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "DreamboxIP",
        "func": "global.set('dreamboxip','http://192.168.0.199');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2112417f.d7464e",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "dreamboxip",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "465a87bd.caa558"
            ]
        ]
    },
    {
        "id": "e039f50f.01c6c8",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Küche Licht",
        "topic": "",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "559df12a.16adf"
            ]
        ]
    },
    {
        "id": "559df12a.16adf",
        "type": "mqtt out",
        "z": "9bfc0359.871c9",
        "name": "Kitchen Room Light OUT",
        "topic": "shellies/shelly1-76F642/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "54a3d62.d77cc28",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Badezimmer Licht",
        "topic": "",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "ef042d7f.b88e8"
            ]
        ]
    },
    {
        "id": "ef042d7f.b88e8",
        "type": "mqtt out",
        "z": "9bfc0359.871c9",
        "name": "Bathroom Light OUT",
        "topic": "shellies/shelly1-B9D598/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "83bd0ad4.632298",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 1350,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "6b24220f.cf438c",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for Standby",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=116';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 820,
        "wires": [
            [
                "83bd0ad4.632298"
            ]
        ]
    },
    {
        "id": "dd70e66b.f604d8",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Dreambox",
        "topic": "",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "81f6f220.05e62",
                "e11bb6d9.3a92d8"
            ]
        ]
    },
    {
        "id": "cc7c14f4.849af8",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Sound",
        "topic": "",
        "x": 330,
        "y": 880,
        "wires": [
            [
                "a1560361.149c9"
            ]
        ]
    },
    {
        "id": "a1560361.149c9",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL with Volume",
        "func": "var ip=global.get('dreamboxip');\nvar value;\nif(msg.payload === \"on\"){\n    value = 80;\n}\nif (msg.payload === \"off\"){\n    value = 40;\n}\n\nmsg.url = ip + '/web/vol?set=set' + value;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 880,
        "wires": [
            [
                "983099ea.9d40e8"
            ]
        ]
    },
    {
        "id": "983099ea.9d40e8",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 770,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "9537d359.0d72b",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Recording",
        "topic": "",
        "x": 350,
        "y": 940,
        "wires": [
            [
                "ce5ab3fb.cf802"
            ]
        ]
    },
    {
        "id": "7f4b1ee5.195ac",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for Recording Start",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=167';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 940,
        "wires": [
            [
                "27bb7b9c.67ca84"
            ]
        ]
    },
    {
        "id": "27bb7b9c.67ca84",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 970,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "46e6b43c.e713ac",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for OK",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=352';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 1000,
        "wires": [
            [
                "a8035193.1559c"
            ]
        ]
    },
    {
        "id": "a8035193.1559c",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1070,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "9b9716eb.497118",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "46e6b43c.e713ac"
            ]
        ]
    },
    {
        "id": "ce5ab3fb.cf802",
        "type": "switch",
        "z": "9bfc0359.871c9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 510,
        "y": 940,
        "wires": [
            [
                "7f4b1ee5.195ac",
                "9b9716eb.497118"
            ],
            [
                "b48a81c2.d9918",
                "5f3e7080.c7b91",
                "7feeb144.01e95"
            ]
        ]
    },
    {
        "id": "b48a81c2.d9918",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for Recording Stop",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=167';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 1060,
        "wires": [
            [
                "eaece320.8eebd"
            ]
        ]
    },
    {
        "id": "eaece320.8eebd",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 950,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "d9e1890f.35a838",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for OK",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=352';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 1120,
        "wires": [
            [
                "c6cc8deb.bd305"
            ]
        ]
    },
    {
        "id": "c6cc8deb.bd305",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1050,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "5f3e7080.c7b91",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 1120,
        "wires": [
            [
                "d9e1890f.35a838"
            ]
        ]
    },
    {
        "id": "2ef75b6e.dcde74",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for OK",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=352';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 1180,
        "wires": [
            [
                "f0d96902.301a98"
            ]
        ]
    },
    {
        "id": "f0d96902.301a98",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1070,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "7feeb144.01e95",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 670,
        "y": 1180,
        "wires": [
            [
                "2ef75b6e.dcde74"
            ]
        ]
    },
    {
        "id": "c8acae8f.6db5e",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 910,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "20b11b30.c60dc4",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for Info",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=358';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 1240,
        "wires": [
            [
                "c8acae8f.6db5e"
            ]
        ]
    },
    {
        "id": "5719257e.b2b08c",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Senderinfo",
        "topic": "",
        "x": 350.83338928222656,
        "y": 1252.833411693573,
        "wires": [
            [
                "39057e9e.21f092"
            ]
        ]
    },
    {
        "id": "39057e9e.21f092",
        "type": "switch",
        "z": "9bfc0359.871c9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 495.33335876464844,
        "y": 1254.3334527015686,
        "wires": [
            [
                "20b11b30.c60dc4"
            ],
            [
                "786ba42d.7725ec"
            ]
        ]
    },
    {
        "id": "786ba42d.7725ec",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL with Exit",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=174';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 1280,
        "wires": [
            [
                "9e3748e8.258d78"
            ]
        ]
    },
    {
        "id": "9e3748e8.258d78",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 910,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "4369ff29.75c62",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 910,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "b46340d2.c6d",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for PVR",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=393';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 1380,
        "wires": [
            [
                "4369ff29.75c62"
            ]
        ]
    },
    {
        "id": "5ec97954.28b088",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Filme",
        "topic": "",
        "x": 330,
        "y": 1400,
        "wires": [
            [
                "22ecb791.6b09e8"
            ]
        ]
    },
    {
        "id": "22ecb791.6b09e8",
        "type": "switch",
        "z": "9bfc0359.871c9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 510,
        "y": 1400,
        "wires": [
            [
                "b46340d2.c6d"
            ],
            [
                "69dd562c.877088"
            ]
        ]
    },
    {
        "id": "69dd562c.877088",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL with Exit",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=174';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 1420,
        "wires": [
            [
                "d8eafd27.dd873"
            ]
        ]
    },
    {
        "id": "d8eafd27.dd873",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 910,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "75771b89.0c5934",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Filmwiedergabe",
        "topic": "",
        "x": 360,
        "y": 1540,
        "wires": [
            [
                "26aadd17.482ff2"
            ]
        ]
    },
    {
        "id": "26aadd17.482ff2",
        "type": "switch",
        "z": "9bfc0359.871c9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 530,
        "y": 1540,
        "wires": [
            [],
            [
                "a9ceaff4.7cb26",
                "d924b9a6.447a08"
            ]
        ]
    },
    {
        "id": "a9ceaff4.7cb26",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL with MovieStop",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=128';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1520,
        "wires": [
            [
                "7abb53ec.4411cc"
            ]
        ]
    },
    {
        "id": "7abb53ec.4411cc",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 970,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "41bd7726.5007b8",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL with Exit",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=174';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 1560,
        "wires": [
            [
                "4b9704e1.d6e46c"
            ]
        ]
    },
    {
        "id": "4b9704e1.d6e46c",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 1150,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "d924b9a6.447a08",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 710,
        "y": 1560,
        "wires": [
            [
                "41bd7726.5007b8"
            ]
        ]
    },
    {
        "id": "61889be7.1556f4",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 770,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "92d94e55.57876",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for Pause",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=207';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1660,
        "wires": [
            [
                "61889be7.1556f4"
            ]
        ]
    },
    {
        "id": "1cec15e0.5e87aa",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Pause",
        "topic": "",
        "x": 330,
        "y": 1660,
        "wires": [
            [
                "92d94e55.57876"
            ]
        ]
    },
    {
        "id": "81f6f220.05e62",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL Statusinfo",
        "func": "msg.action = msg.payload;\n\nvar ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/statusinfo';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 760,
        "wires": [
            [
                "4aebb34.6375f4c"
            ]
        ]
    },
    {
        "id": "4aebb34.6375f4c",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 810,
        "y": 760,
        "wires": [
            [
                "a5338041.31e4"
            ]
        ]
    },
    {
        "id": "a5338041.31e4",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create inStandy Value",
        "func": "if (msg.action === 'on' && msg.payload.inStandby === 'false')\n{\n    global.set('inStandby','on_false');\n}\nif (msg.action === 'on' && msg.payload.inStandby === 'true')\n{\n    global.set('inStandby','on_true');\n}\nif (msg.action === 'off' && msg.payload.inStandby === 'false')\n{\n    global.set('inStandby','off_true');\n}\nif (msg.action === 'off' && msg.payload.inStandby === 'true')\n{\n    global.set('inStandby','off_false');\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "28a5a713.48f358",
        "type": "switch",
        "z": "9bfc0359.871c9",
        "name": "",
        "property": "inStandby",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "on_true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on_false",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 910,
        "y": 820,
        "wires": [
            [
                "6b24220f.cf438c"
            ],
            [],
            [
                "6b24220f.cf438c"
            ],
            []
        ]
    },
    {
        "id": "e11bb6d9.3a92d8",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 820,
        "wires": [
            [
                "28a5a713.48f358"
            ]
        ]
    },
    {
        "id": "56a4d33e.dea74c",
        "type": "comment",
        "z": "7dbbdbf3.365084",
        "name": "Lights",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "9d8bde54.cc351",
        "type": "comment",
        "z": "7dbbdbf3.365084",
        "name": "Home Cinema",
        "info": "",
        "x": 130,
        "y": 480,
        "wires": []
    },
    {
        "id": "27c723da.a8cedc",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "Bathroom Light IN",
        "topic": "shellies/shelly1-B9D598/relay/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "345c2877.6139e8"
            ]
        ]
    },
    {
        "id": "28d1c726.11fd38",
        "type": "mqtt out",
        "z": "7dbbdbf3.365084",
        "name": "Bathroom Light OUT",
        "topic": "shellies/shelly1-B9D598/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "345c2877.6139e8",
        "type": "ui_switch",
        "z": "7dbbdbf3.365084",
        "name": "",
        "label": "Badezimmer",
        "tooltip": "",
        "group": "a4375fdd.d3a7c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "28d1c726.11fd38"
            ]
        ]
    },
    {
        "id": "58d70e89.5d081",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "Kitchen Room Light IN",
        "topic": "shellies/shelly1-76F642/relay/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "3e9f5496.7f1e0c"
            ]
        ]
    },
    {
        "id": "2c96be81.0ec592",
        "type": "mqtt out",
        "z": "7dbbdbf3.365084",
        "name": "Kitchen Room Light OUT",
        "topic": "shellies/shelly1-76F642/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "3e9f5496.7f1e0c",
        "type": "ui_switch",
        "z": "7dbbdbf3.365084",
        "name": "",
        "label": "Küche",
        "tooltip": "",
        "group": "a4375fdd.d3a7c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "2c96be81.0ec592"
            ]
        ]
    },
    {
        "id": "4397bea3.f923b",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "Living Room Light IN",
        "topic": "shellies/shelly1-B9CFBD/relay/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "f2a66d66.98512"
            ]
        ]
    },
    {
        "id": "27488ff.f64427",
        "type": "mqtt out",
        "z": "7dbbdbf3.365084",
        "name": "Living Room Light OUT",
        "topic": "shellies/shelly1-B9CFBD/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "f2a66d66.98512",
        "type": "ui_switch",
        "z": "7dbbdbf3.365084",
        "name": "",
        "label": "Wohnzimmer",
        "tooltip": "",
        "group": "a4375fdd.d3a7c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "27488ff.f64427"
            ]
        ]
    },
    {
        "id": "b9818492.ecb128",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 560,
        "y": 1840,
        "wires": [
            [
                "5f249e75.6d47b"
            ]
        ]
    },
    {
        "id": "593d0c24.dc43c4",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 560,
        "y": 1800,
        "wires": [
            [
                "5b087b43.496ce4"
            ]
        ]
    },
    {
        "id": "10e83fe1.98a5f",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 560,
        "y": 1940,
        "wires": [
            [
                "a57ea2bb.9a458"
            ]
        ]
    },
    {
        "id": "deb0dd2e.ece32",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 560,
        "y": 1900,
        "wires": [
            [
                "5b087b43.496ce4"
            ]
        ]
    },
    {
        "id": "ca9d2609.c0aa88",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 2160,
        "wires": [
            [
                "cd80d05d.29df5"
            ]
        ]
    },
    {
        "id": "7aa97cdd.8e7234",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 2120,
        "wires": [
            [
                "cd80d05d.29df5"
            ]
        ]
    },
    {
        "id": "11d5b744.b19569",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "HomeSkyCinema",
        "topic": "",
        "x": 370.24600764683316,
        "y": 2132.8574244635447,
        "wires": [
            [
                "7aa97cdd.8e7234",
                "ca9d2609.c0aa88",
                "574fe08e.bf9f3"
            ]
        ]
    },
    {
        "id": "b3df39b1.93afe8",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 560,
        "y": 2040,
        "wires": [
            [
                "c03c386b.02efe8"
            ]
        ]
    },
    {
        "id": "b43efc2c.b408e",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 560,
        "y": 2000,
        "wires": [
            [
                "5b087b43.496ce4"
            ]
        ]
    },
    {
        "id": "2378da79.fa33a6",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 2300,
        "wires": [
            [
                "a57ea2bb.9a458"
            ]
        ]
    },
    {
        "id": "b10832f6.011e9",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 2260,
        "wires": [
            [
                "cd80d05d.29df5"
            ]
        ]
    },
    {
        "id": "f50a44cf.00c058",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "HomeSkyAction",
        "topic": "",
        "x": 360,
        "y": 2280,
        "wires": [
            [
                "b10832f6.011e9",
                "2378da79.fa33a6",
                "574fe08e.bf9f3"
            ]
        ]
    },
    {
        "id": "f5f8ab64.000618",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "HomeTelevision",
        "topic": "",
        "x": 360,
        "y": 1920,
        "wires": [
            [
                "deb0dd2e.ece32",
                "10e83fe1.98a5f",
                "6a7985cc.0e6dbc"
            ]
        ]
    },
    {
        "id": "7a3d1af6.25ad14",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "HomeSatEins",
        "topic": "",
        "x": 360,
        "y": 2020,
        "wires": [
            [
                "b43efc2c.b408e",
                "b3df39b1.93afe8",
                "6a7985cc.0e6dbc"
            ]
        ]
    },
    {
        "id": "6a7985cc.0e6dbc",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 1 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=2';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 924.8810424804688,
        "y": 1966.50794506073,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "574fe08e.bf9f3",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 2 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=3';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 924.8810920715332,
        "y": 2006.507926940918,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "b4b4f113.5060c",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 3 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=4';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 928.5318832397461,
        "y": 2044.7618861198425,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "cd80d05d.29df5",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 4 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=5';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 929.1667633056641,
        "y": 2082.222264289856,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "38dd0484.9955bc",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 5 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=6';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 929.1667022705078,
        "y": 2117.936532020569,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "c03c386b.02efe8",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 6 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=7';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 929.1668586730957,
        "y": 2155.079300880432,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "a57ea2bb.9a458",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 7 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=8';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 926.3097534179688,
        "y": 2195.07931804657,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "5f249e75.6d47b",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 8 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=9';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 926.3096313476562,
        "y": 2235.0793867111206,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "5b087b43.496ce4",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 9 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=10';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 926.3097152709961,
        "y": 2273.650866508484,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "bd1b6972.b20118",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 1233.452480316162,
        "y": 2110.7936220169067,
        "wires": [
            []
        ]
    },
    {
        "id": "44087d44.f23024",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "HomePro",
        "topic": "",
        "x": 340,
        "y": 1820,
        "wires": [
            [
                "6a7985cc.0e6dbc",
                "593d0c24.dc43c4",
                "b9818492.ecb128"
            ]
        ]
    },
    {
        "id": "84752832.3c2e98",
        "type": "comment",
        "z": "9bfc0359.871c9",
        "name": "Dreambox Channels",
        "info": "",
        "x": 370,
        "y": 1760,
        "wires": []
    },
    {
        "id": "c67118a2.f9b9c8",
        "type": "comment",
        "z": "9bfc0359.871c9",
        "name": "Lights",
        "info": "",
        "x": 331.5,
        "y": 34,
        "wires": []
    },
    {
        "id": "424bde01.5d536",
        "type": "comment",
        "z": "9bfc0359.871c9",
        "name": "Dreambox Commands",
        "info": "",
        "x": 380,
        "y": 720,
        "wires": []
    },
    {
        "id": "a9708e5a.eaa55",
        "type": "mqtt out",
        "z": "9bfc0359.871c9",
        "name": "HeimKino OUT",
        "topic": "cmnd/sonoff_homecinema/power",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 880,
        "y": 460,
        "wires": []
    },
    {
        "id": "ea534a02.e68c88",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "HeimKino",
        "topic": "",
        "x": 340,
        "y": 460,
        "wires": [
            [
                "7f51712d.e1a24"
            ]
        ]
    },
    {
        "id": "f3c4d561.da9c48",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "HomeCinema IN",
        "topic": "cmnd/sonoff_homecinema/power",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "8ca84381.f3df2"
            ]
        ]
    },
    {
        "id": "bfacf34c.b714c",
        "type": "mqtt out",
        "z": "7dbbdbf3.365084",
        "name": "HomeCinema OUT",
        "topic": "cmnd/sonoff_homecinema/power",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "8ca84381.f3df2",
        "type": "ui_switch",
        "z": "7dbbdbf3.365084",
        "name": "",
        "label": "Home Cinema",
        "tooltip": "",
        "group": "a4375fdd.d3a7c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "bfacf34c.b714c"
            ]
        ]
    },
    {
        "id": "9b851951.67db58",
        "type": "comment",
        "z": "9bfc0359.871c9",
        "name": "Plugs",
        "info": "",
        "x": 330,
        "y": 420,
        "wires": []
    },
    {
        "id": "ee3619f2.485b08",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Schlafzimmer Licht",
        "topic": "",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "b9139199.88442"
            ]
        ]
    },
    {
        "id": "b9139199.88442",
        "type": "mqtt out",
        "z": "9bfc0359.871c9",
        "name": "Bedroom Light OUT",
        "topic": "shellies/shelly1-944E49/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "fc558756.e3f378",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "Bed Room Light IN",
        "topic": "shellies/shelly1-944E49/relay/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "baeb5b0c.b5ceb8"
            ]
        ]
    },
    {
        "id": "c0869f0b.c0d01",
        "type": "mqtt out",
        "z": "7dbbdbf3.365084",
        "name": "Living Room Light OUT",
        "topic": "shellies/shelly1-944E49/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "baeb5b0c.b5ceb8",
        "type": "ui_switch",
        "z": "7dbbdbf3.365084",
        "name": "",
        "label": "Schlafzimmer",
        "tooltip": "",
        "group": "a4375fdd.d3a7c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "c0869f0b.c0d01"
            ]
        ]
    },
    {
        "id": "9bc9a3c3.acec1",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Bett Licht",
        "topic": "",
        "x": 340,
        "y": 600,
        "wires": [
            [
                "dca405fb.3136f8"
            ]
        ]
    },
    {
        "id": "dca405fb.3136f8",
        "type": "mqtt out",
        "z": "9bfc0359.871c9",
        "name": "Bed Light OUT",
        "topic": "cmnd/sonoff_bedlight/power",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "5e7a1c32.d0b8f4",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "BedLight IN",
        "topic": "cmnd/sonoff_bedlight/power",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "c6ca3f6f.6fe7"
            ]
        ]
    },
    {
        "id": "2f2b435c.bb0c8c",
        "type": "mqtt out",
        "z": "7dbbdbf3.365084",
        "name": "Bed Light OUT",
        "topic": "cmnd/sonoff_bedlight/power",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "c6ca3f6f.6fe7",
        "type": "ui_switch",
        "z": "7dbbdbf3.365084",
        "name": "",
        "label": "Bett Licht",
        "tooltip": "",
        "group": "a4375fdd.d3a7c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "2f2b435c.bb0c8c"
            ]
        ]
    },
    {
        "id": "7f51712d.e1a24",
        "type": "switch",
        "z": "9bfc0359.871c9",
        "name": "On or Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 520,
        "y": 460,
        "wires": [
            [
                "a9708e5a.eaa55"
            ],
            [
                "5ca279cb.163438",
                "4c3146e0.388e58"
            ]
        ]
    },
    {
        "id": "5ca279cb.163438",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 500,
        "wires": [
            [
                "a9708e5a.eaa55"
            ]
        ]
    },
    {
        "id": "4c3146e0.388e58",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for Shutdown",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/powerstate?newstate=1';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 540,
        "wires": [
            [
                "70cdf8c1.4cd118"
            ]
        ]
    },
    {
        "id": "70cdf8c1.4cd118",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 930,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8e3ba94c.a947c8",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "Corridor Light IN",
        "topic": "shellies/shelly1-942645/relay/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "522dd786.c6ed48"
            ]
        ]
    },
    {
        "id": "1f1abbce.1ea2d4",
        "type": "mqtt out",
        "z": "7dbbdbf3.365084",
        "name": "Corridor Light OUT",
        "topic": "shellies/shelly1-942645/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "522dd786.c6ed48",
        "type": "ui_switch",
        "z": "7dbbdbf3.365084",
        "name": "",
        "label": "Corridor",
        "tooltip": "",
        "group": "a4375fdd.d3a7c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "1f1abbce.1ea2d4"
            ]
        ]
    },
    {
        "id": "784d926b.7d63bc",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Gang Licht",
        "topic": "",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "a812c705.3d1cb8"
            ]
        ]
    },
    {
        "id": "a812c705.3d1cb8",
        "type": "mqtt out",
        "z": "9bfc0359.871c9",
        "name": "Corridor Light OUT",
        "topic": "shellies/shelly1-942645/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "d0e1b001.ac392",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "H&T Temperature IN",
        "topic": "shellies/shellyht-58EEB4/sensor/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "8a3b75e6.0641d8"
            ]
        ]
    },
    {
        "id": "8a3b75e6.0641d8",
        "type": "ui_gauge",
        "z": "7dbbdbf3.365084",
        "name": "Temperature Bed-Room",
        "group": "3d318576.51704a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bed-Room",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 390,
        "y": 800,
        "wires": []
    },
    {
        "id": "d044df15.6c2a9",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "H&T Humidity IN",
        "topic": "shellies/shellyht-58EEB4/sensor/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 140,
        "y": 860,
        "wires": [
            [
                "77c3e63b.3a87d8"
            ]
        ]
    },
    {
        "id": "b0972bd6.20c128",
        "type": "ui_gauge",
        "z": "7dbbdbf3.365084",
        "name": "Humidity Bed-Room",
        "group": "42efb286.84806c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bed-Room",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 860,
        "wires": []
    },
    {
        "id": "f20e5b25.c930e8",
        "type": "comment",
        "z": "7dbbdbf3.365084",
        "name": "H&T Bedroom Sensor",
        "info": "",
        "x": 160,
        "y": 760,
        "wires": []
    },
    {
        "id": "ffdb497a.8456a8",
        "type": "template",
        "z": "14dd6c8.d5f3494",
        "name": "insert into temperature",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "insert into temperature_bedroom (temperature) values ($param1)",
        "x": 660,
        "y": 140,
        "wires": [
            [
                "3a05d870.6793e8"
            ]
        ]
    },
    {
        "id": "3a05d870.6793e8",
        "type": "postgres",
        "z": "14dd6c8.d5f3494",
        "d": true,
        "postgresdb": "bacb1987.c1aa28",
        "name": "",
        "output": true,
        "perrow": false,
        "outputs": 1,
        "x": 860,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2d7d61d2.19a6de",
        "type": "function",
        "z": "14dd6c8.d5f3494",
        "name": "setup params for insert temperature",
        "func": "msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = parseFloat(msg.payload);\nglobal.set('bedTemperature',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "ffdb497a.8456a8"
            ]
        ]
    },
    {
        "id": "52bc828c.35a47c",
        "type": "mqtt in",
        "z": "14dd6c8.d5f3494",
        "name": "H&T Temperature IN",
        "topic": "shellies/shellyht-58EEB4/sensor/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "2d7d61d2.19a6de",
                "a4d49818.995a48"
            ]
        ]
    },
    {
        "id": "820145fb.ff3158",
        "type": "template",
        "z": "14dd6c8.d5f3494",
        "name": "insert into humidity table",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "insert into humidity_bedroom (humidity) values ($param1)",
        "x": 650,
        "y": 200,
        "wires": [
            [
                "3a05d870.6793e8"
            ]
        ]
    },
    {
        "id": "2849adf2.bfbc42",
        "type": "function",
        "z": "14dd6c8.d5f3494",
        "name": "setup params for insert humidity",
        "func": "var offset=global.get('bedHumOffset');\nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = parseFloat(msg.payload-offset);\nglobal.set('bedHumidity',msg.payload-offset);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "820145fb.ff3158"
            ]
        ]
    },
    {
        "id": "b6a1da3a.1c2c58",
        "type": "mqtt in",
        "z": "14dd6c8.d5f3494",
        "name": "H&T Humidity IN",
        "topic": "shellies/shellyht-58EEB4/sensor/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "2849adf2.bfbc42",
                "a4d49818.995a48"
            ]
        ]
    },
    {
        "id": "b54c0257.93298",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "H&T Temperature IN",
        "topic": "shellies/shellyht-58EEB4/sensor/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 150,
        "y": 980,
        "wires": [
            [
                "c8688f90.6ee0e"
            ]
        ]
    },
    {
        "id": "b53f296d.f0a288",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "H&T Humidity IN",
        "topic": "shellies/shellyht-58EEB4/sensor/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 140,
        "y": 1040,
        "wires": [
            [
                "da184e2.de977b"
            ]
        ]
    },
    {
        "id": "c8688f90.6ee0e",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Topic Temperature",
        "func": "msg.topic='Temperature'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 980,
        "wires": [
            [
                "299adbba.299984"
            ]
        ]
    },
    {
        "id": "da184e2.de977b",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Topic Humidity",
        "func": "msg.topic='Humidity'\nvar offset=global.get('bedHumOffset');\nmsg.payload = msg.payload - offset;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 1040,
        "wires": [
            [
                "9dfb04b0.c6df38"
            ]
        ]
    },
    {
        "id": "9dfb04b0.c6df38",
        "type": "ui_chart",
        "z": "7dbbdbf3.365084",
        "name": "Humidity Bed-Room Graph",
        "group": "42efb286.84806c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "50",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 620,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "55318f8b.815e1",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "H&T Battery IN",
        "topic": "shellies/shellyht-58EEB4/sensor/battery",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 140,
        "y": 920,
        "wires": [
            [
                "bf82e6ee.d09058"
            ]
        ]
    },
    {
        "id": "bf82e6ee.d09058",
        "type": "ui_gauge",
        "z": "7dbbdbf3.365084",
        "name": "Battery H&T Bed-Room",
        "group": "807503c.b0528",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Battery H&T",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 370,
        "y": 920,
        "wires": []
    },
    {
        "id": "f2e50a30.b94738",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "BedTemperature",
        "func": "global.set('bedTemperature','');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "299960ca.d3bbd",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "bedTemperature",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "f2e50a30.b94738"
            ]
        ]
    },
    {
        "id": "8ae5c4a3.a8a208",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "BedHumidity",
        "func": "global.set('bedHumidity','');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "68af5998.3ea968",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "bedHumidity",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "8ae5c4a3.a8a208"
            ]
        ]
    },
    {
        "id": "299adbba.299984",
        "type": "ui_chart",
        "z": "7dbbdbf3.365084",
        "name": "Temperature Bed-Room Graph",
        "group": "3d318576.51704a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "50",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 630,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "77c3e63b.3a87d8",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "offset",
        "func": "var offset=global.get('bedHumOffset');\nmsg.payload = msg.payload - offset;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 860,
        "wires": [
            [
                "b0972bd6.20c128"
            ]
        ]
    },
    {
        "id": "df083d02.c3572",
        "type": "template",
        "z": "14dd6c8.d5f3494",
        "name": "select from humidity",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "select avg(humidity), min(humidity), max(humidity) from humidity_bedroom\nwhere date > current_date - interval '7 days'",
        "x": 580,
        "y": 260,
        "wires": [
            [
                "58ee34b7.86f15c"
            ]
        ]
    },
    {
        "id": "a4d49818.995a48",
        "type": "function",
        "z": "14dd6c8.d5f3494",
        "name": "setup params",
        "func": "msg.queryParameters = msg.queryParameters || {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 343.3229064941406,
        "y": 304.593789100647,
        "wires": [
            [
                "df083d02.c3572",
                "f366e48e.2a3718"
            ]
        ]
    },
    {
        "id": "49024466.74b72c",
        "type": "ui_text",
        "z": "14dd6c8.d5f3494",
        "d": true,
        "group": "42efb286.84806c",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Humidity AVG",
        "label": "AVG",
        "format": "{{msg.payload[0].avg}}",
        "layout": "row-spread",
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "448f4f8c.16c24",
        "type": "ui_text",
        "z": "14dd6c8.d5f3494",
        "d": true,
        "group": "42efb286.84806c",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Humidity MIN",
        "label": "MIN",
        "format": "{{msg.payload[0].min}}",
        "layout": "row-spread",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "f0e73e0c.60e04",
        "type": "ui_text",
        "z": "14dd6c8.d5f3494",
        "d": true,
        "group": "42efb286.84806c",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Humidity MAX",
        "label": "MAX",
        "format": "{{msg.payload[0].max}}",
        "layout": "row-spread",
        "x": 1020,
        "y": 300,
        "wires": []
    },
    {
        "id": "f366e48e.2a3718",
        "type": "template",
        "z": "14dd6c8.d5f3494",
        "name": "select from temperature",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "select avg(temperature), min(temperature), max(temperature) from temperature_bedroom\nwhere date > current_date - interval '7 days'",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "2611991c.0c2846"
            ]
        ]
    },
    {
        "id": "58ee34b7.86f15c",
        "type": "postgres",
        "z": "14dd6c8.d5f3494",
        "d": true,
        "postgresdb": "bacb1987.c1aa28",
        "name": "",
        "output": true,
        "perrow": false,
        "outputs": 1,
        "x": 780,
        "y": 260,
        "wires": [
            [
                "49024466.74b72c",
                "448f4f8c.16c24",
                "f0e73e0c.60e04",
                "875572b5.67c77"
            ]
        ]
    },
    {
        "id": "2611991c.0c2846",
        "type": "postgres",
        "z": "14dd6c8.d5f3494",
        "d": true,
        "postgresdb": "bacb1987.c1aa28",
        "name": "",
        "output": true,
        "perrow": false,
        "outputs": 1,
        "x": 780,
        "y": 340,
        "wires": [
            [
                "6a16242a.6957bc",
                "ef9a7f47.4c2e5",
                "97502026.21234",
                "4a72b266.272fcc"
            ]
        ]
    },
    {
        "id": "6a16242a.6957bc",
        "type": "ui_text",
        "z": "14dd6c8.d5f3494",
        "d": true,
        "group": "3d318576.51704a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Temperature AVG",
        "label": "AVG",
        "format": "{{msg.payload[0].avg}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "ef9a7f47.4c2e5",
        "type": "ui_text",
        "z": "14dd6c8.d5f3494",
        "d": true,
        "group": "3d318576.51704a",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Temperature MIN",
        "label": "MIN",
        "format": "{{msg.payload[0].min}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "97502026.21234",
        "type": "ui_text",
        "z": "14dd6c8.d5f3494",
        "d": true,
        "group": "3d318576.51704a",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Temperature MAX",
        "label": "MAX:",
        "format": "{{msg.payload[0].max}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 440,
        "wires": []
    },
    {
        "id": "4a72b266.272fcc",
        "type": "ui_text",
        "z": "14dd6c8.d5f3494",
        "d": true,
        "group": "3d318576.51704a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Status from last 7 days",
        "label": "Status from last 7 days",
        "format": "",
        "layout": "row-center",
        "x": 1040,
        "y": 480,
        "wires": []
    },
    {
        "id": "875572b5.67c77",
        "type": "ui_text",
        "z": "14dd6c8.d5f3494",
        "d": true,
        "group": "42efb286.84806c",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Status from last 7 days",
        "label": "Status from last 7 days",
        "format": "",
        "layout": "row-center",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "3cd68fe4.a57c7",
        "type": "mqtt in",
        "z": "14dd6c8.d5f3494",
        "name": "H&T Battery IN",
        "topic": "shellies/shellyht-58EEB4/sensor/battery",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 100,
        "y": 1060,
        "wires": [
            [
                "b38794e9.408c78"
            ]
        ]
    },
    {
        "id": "cf82b0e8.329e3",
        "type": "mqtt in",
        "z": "14dd6c8.d5f3494",
        "name": "H&T Humidity IN",
        "topic": "shellies/shellyht-58EEB4/sensor/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 100,
        "y": 620,
        "wires": [
            [
                "e54584bd.94bb58"
            ]
        ]
    },
    {
        "id": "87f4df7.4d9772",
        "type": "telegram sender",
        "z": "14dd6c8.d5f3494",
        "name": "",
        "bot": "3d3d8fed.cc3ab",
        "x": 690,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "b38794e9.408c78",
        "type": "function",
        "z": "14dd6c8.d5f3494",
        "name": "Check Battery state",
        "func": "const batteryState = msg.payload;\nmsg.payload = {};\nif (batteryState  == 10)\n{\n    msg.payload = {\n        chatId: '390062931',\n        type: 'message',\n        content: 'Battery of Bedroom H&T sensor less then ' + batteryState + '%'\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 1060,
        "wires": [
            [
                "292a65a7.58130a"
            ]
        ]
    },
    {
        "id": "e54584bd.94bb58",
        "type": "function",
        "z": "14dd6c8.d5f3494",
        "name": "Send Humidity warning",
        "func": "var dehumState=global.get('dehumState');\nvar humidityValue =  global.get('bedHumidity');\nmsg.payload = {};\nif (humidityValue >= 60 && dehumState == 'off')\n{\n    msg.payload = {\n        chatId: '390062931',\n        type: 'message',\n        content: 'Humidity: ' +  humidityValue + '%. Dehumidifier started.',\n        action: true\n    }\n}\nif (humidityValue <= 50 && dehumState == 'on')\n{\n    msg.payload = {\n       action: false\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 620,
        "wires": [
            [
                "1f2f0294.bb442d"
            ]
        ]
    },
    {
        "id": "1f2f0294.bb442d",
        "type": "switch",
        "z": "14dd6c8.d5f3494",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 610,
        "y": 620,
        "wires": [
            [
                "505a4c7c.0a2b74"
            ],
            [
                "8a2a10ae.61f01"
            ]
        ]
    },
    {
        "id": "292a65a7.58130a",
        "type": "switch",
        "z": "14dd6c8.d5f3494",
        "name": "",
        "property": "payload.chatId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 510,
        "y": 1060,
        "wires": [
            [
                "87f4df7.4d9772"
            ]
        ]
    },
    {
        "id": "550458c6.ad4598",
        "type": "mqtt out",
        "z": "14dd6c8.d5f3494",
        "name": "Dehumidifier OUT",
        "topic": "shellies/shelly1-B9DD3A/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 1210,
        "y": 600,
        "wires": []
    },
    {
        "id": "39c8ea8c.940ae6",
        "type": "function",
        "z": "14dd6c8.d5f3494",
        "name": "create state for shelly",
        "func": "if (msg.payload) {\n    msg.payload = 'on';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 600,
        "wires": [
            [
                "550458c6.ad4598"
            ]
        ]
    },
    {
        "id": "e0281d19.e90a5",
        "type": "comment",
        "z": "14dd6c8.d5f3494",
        "name": "Humidity and Temperature To and From Postgres DB",
        "info": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "87a8bebd.08a3",
        "type": "comment",
        "z": "14dd6c8.d5f3494",
        "name": "H&T Battery Notification",
        "info": "",
        "x": 120,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5c286a77.f5cbf4",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "BedHumidityOffset",
        "func": "global.set('bedHumOffset',10);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8ae7aca3.4343c",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "bedHumOffset",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "5c286a77.f5cbf4"
            ]
        ]
    },
    {
        "id": "c7d53b6.597eec8",
        "type": "comment",
        "z": "14dd6c8.d5f3494",
        "name": "select",
        "info": "",
        "x": 310,
        "y": 260,
        "wires": []
    },
    {
        "id": "618a6bce.c024b4",
        "type": "comment",
        "z": "14dd6c8.d5f3494",
        "name": "insert",
        "info": "",
        "x": 290,
        "y": 100,
        "wires": []
    },
    {
        "id": "505a4c7c.0a2b74",
        "type": "time-range-switch",
        "z": "14dd6c8.d5f3494",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "09:00",
        "endTime": "20:30",
        "startOffset": "",
        "endOffset": "",
        "x": 790,
        "y": 600,
        "wires": [
            [
                "8a2a10ae.61f01",
                "71fbc899.fd04f8",
                "39c8ea8c.940ae6"
            ],
            []
        ]
    },
    {
        "id": "c68731ee.e7961",
        "type": "function",
        "z": "14dd6c8.d5f3494",
        "name": "create state for shelly",
        "func": "if (msg.payload) {\n    msg.payload = 'off';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1660,
        "y": 800,
        "wires": [
            [
                "21907e50.8103c2"
            ]
        ]
    },
    {
        "id": "96856e01.1a2c2",
        "type": "mqtt in",
        "z": "14dd6c8.d5f3494",
        "name": "Dehumidifier IN",
        "topic": "shellies/shelly1-B9DD3A/relay/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 104.5,
        "y": 919.4000873565674,
        "wires": [
            [
                "b0585c04.3b454"
            ]
        ]
    },
    {
        "id": "33187ec7.00f992",
        "type": "telegram sender",
        "z": "14dd6c8.d5f3494",
        "name": "",
        "bot": "3d3d8fed.cc3ab",
        "x": 1910,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "349f5d22.cf9ee2",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "BedHumidity",
        "func": "global.set('dehumState','');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "85329705.e63bb8",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "dehumState",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "349f5d22.cf9ee2"
            ]
        ]
    },
    {
        "id": "b0585c04.3b454",
        "type": "function",
        "z": "14dd6c8.d5f3494",
        "name": "get dehumidifier state",
        "func": "global.set('dehumState',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "3b18c41d.a9123c",
        "type": "inject",
        "z": "14dd6c8.d5f3494",
        "name": "Stop Dehumidifier",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "35 19 * * *",
        "once": false,
        "x": 570,
        "y": 720,
        "wires": [
            [
                "8a2a10ae.61f01"
            ]
        ]
    },
    {
        "id": "8ebb720c.68a4",
        "type": "comment",
        "z": "14dd6c8.d5f3494",
        "name": "Save Dehumidifier State",
        "info": "",
        "x": 131,
        "y": 870.8000507354736,
        "wires": []
    },
    {
        "id": "526701d0.37735",
        "type": "comment",
        "z": "14dd6c8.d5f3494",
        "name": "Stop Dehumidifier periodically",
        "info": "",
        "x": 580,
        "y": 680,
        "wires": []
    },
    {
        "id": "8a2a10ae.61f01",
        "type": "interval-length",
        "z": "14dd6c8.d5f3494",
        "format": "human",
        "bytopic": false,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": false,
        "startup": false,
        "msgField": "payload",
        "timestampField": "timestamp",
        "repeatTimeout": false,
        "name": "run time",
        "x": 920,
        "y": 740,
        "wires": [
            [
                "db131dbf.ccfd6"
            ],
            []
        ]
    },
    {
        "id": "b76646de.9f1128",
        "type": "function",
        "z": "14dd6c8.d5f3494",
        "name": "crete telegram message",
        "func": "var time = msg.payload.interval;\nvar humidity = global.get('bedHumidity');\nmsg.payload = {};\nif (humidity >= 50)\n{\n    msg.payload = {\n    chatId: '390062931',\n    type: 'message',\n    content: 'Humidity: ' + humidity  + '%. Dehumidifier stopped to earlie because of bedtime. Run time: ' + time\n    }\n}\nmsg.payload = {\nchatId: '390062931',\ntype: 'message',\ncontent: 'Humidity: ' + humidity  + '%. Dehumidifier stopped after ' + time\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1670,
        "y": 680,
        "wires": [
            [
                "33187ec7.00f992"
            ]
        ]
    },
    {
        "id": "71fbc899.fd04f8",
        "type": "telegram sender",
        "z": "14dd6c8.d5f3494",
        "name": "",
        "bot": "3d3d8fed.cc3ab",
        "x": 990,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "9f65eab4.50a958",
        "type": "inject",
        "z": "14dd6c8.d5f3494",
        "name": "Start Dehumidifier",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "05 09 * * *",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "e54584bd.94bb58"
            ]
        ]
    },
    {
        "id": "4ab97f49.039a9",
        "type": "ui_text",
        "z": "14dd6c8.d5f3494",
        "group": "d155d55d.4664c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "last run duration",
        "label": "Last run duration",
        "format": "{{msg.payload.interval}} - {{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1640,
        "y": 760,
        "wires": []
    },
    {
        "id": "992efc9a.4ad83",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "Dehumidifier IN",
        "topic": "shellies/shelly1-B9DD3A/relay/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "11d80fe6.b89fc"
            ]
        ]
    },
    {
        "id": "4cc9133f.7128ec",
        "type": "comment",
        "z": "7dbbdbf3.365084",
        "name": "Dehumidifier",
        "info": "",
        "x": 130,
        "y": 620,
        "wires": []
    },
    {
        "id": "feebcc56.19a65",
        "type": "template",
        "z": "14dd6c8.d5f3494",
        "name": "insert into temperature",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "insert into dehumidifier (run_time) values ($param1)",
        "x": 1960,
        "y": 720,
        "wires": [
            [
                "96771e49.14b8f"
            ]
        ]
    },
    {
        "id": "96771e49.14b8f",
        "type": "postgres",
        "z": "14dd6c8.d5f3494",
        "d": true,
        "postgresdb": "bacb1987.c1aa28",
        "name": "",
        "output": true,
        "perrow": false,
        "outputs": 1,
        "x": 2140,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "92b009f4.c72ef8",
        "type": "function",
        "z": "14dd6c8.d5f3494",
        "name": "setup params for insert run time",
        "func": "msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = msg.payload.interval;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1690,
        "y": 720,
        "wires": [
            [
                "feebcc56.19a65"
            ]
        ]
    },
    {
        "id": "db131dbf.ccfd6",
        "type": "function",
        "z": "14dd6c8.d5f3494",
        "name": "get dehumstate",
        "func": "var time = msg.payload;\nvar date = new Date().toISOString().slice(0,10);\nmsg.payload = {};\nmsg.payload = {\n    interval: time,\n    dehumState: global.get('dehumState'),\n    date: date\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 740,
        "wires": [
            [
                "b3189ff5.c4461"
            ]
        ]
    },
    {
        "id": "b3189ff5.c4461",
        "type": "switch",
        "z": "14dd6c8.d5f3494",
        "name": "check dehumstate",
        "property": "payload.dehumState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1350,
        "y": 740,
        "wires": [
            [
                "b76646de.9f1128",
                "92b009f4.c72ef8",
                "4ab97f49.039a9",
                "c68731ee.e7961"
            ]
        ]
    },
    {
        "id": "5025da71.0cb244",
        "type": "comment",
        "z": "14dd6c8.d5f3494",
        "name": "needed because injection is made by the time range function",
        "info": "",
        "x": 1260,
        "y": 700,
        "wires": []
    },
    {
        "id": "11d80fe6.b89fc",
        "type": "ui_text",
        "z": "7dbbdbf3.365084",
        "group": "d155d55d.4664c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 310,
        "y": 660,
        "wires": []
    },
    {
        "id": "179938ad.b20247",
        "type": "comment",
        "z": "14dd6c8.d5f3494",
        "name": "Start Dehumidifier periodically",
        "info": "",
        "x": 140,
        "y": 680,
        "wires": []
    },
    {
        "id": "21907e50.8103c2",
        "type": "mqtt out",
        "z": "14dd6c8.d5f3494",
        "name": "Dehumidifier OUT",
        "topic": "shellies/shelly1-B9DD3A/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 1890,
        "y": 800,
        "wires": []
    },
    {
        "id": "21182e2f.01cf52",
        "type": "comment",
        "z": "14dd6c8.d5f3494",
        "name": "Dehumidifier Logic",
        "info": "",
        "x": 110,
        "y": 580,
        "wires": []
    },
    {
        "id": "e02c79b9.be8138",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "HomeCinema Plug Sensor IN",
        "topic": "tele/sonoff_homecinema/SENSOR",
        "qos": "2",
        "datatype": "json",
        "broker": "2aba1eb9.69a842",
        "x": 180,
        "y": 1220,
        "wires": [
            [
                "4f7cade6.043b74",
                "9b6a0b0.13c11f8",
                "105b93ae.146bdc",
                "1ed553b3.e05a8c",
                "4a472bcb.3258a4",
                "bce29b5a.a51d68"
            ]
        ]
    },
    {
        "id": "3fbbb962.6c7c76",
        "type": "ui_gauge",
        "z": "7dbbdbf3.365084",
        "name": "Temperature Living Room",
        "group": "3d318576.51704a",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Living-Room",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 1220,
        "wires": []
    },
    {
        "id": "d066f18b.1f778",
        "type": "ui_chart",
        "z": "7dbbdbf3.365084",
        "name": "Temperature Living-Room Graph",
        "group": "3d318576.51704a",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "50",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 800,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "efbb7a14.7e4198",
        "type": "comment",
        "z": "7dbbdbf3.365084",
        "name": "BME280 Sensor Sonoff Plug",
        "info": "",
        "x": 180,
        "y": 1180,
        "wires": []
    },
    {
        "id": "4f7cade6.043b74",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Temperature",
        "func": "msg.payload = msg.payload.BME280.Temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1220,
        "wires": [
            [
                "3fbbb962.6c7c76"
            ]
        ]
    },
    {
        "id": "9b6a0b0.13c11f8",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Humidity",
        "func": "msg.payload = msg.payload.BME280.Humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1260,
        "wires": [
            [
                "295a034f.41864c"
            ]
        ]
    },
    {
        "id": "105b93ae.146bdc",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Topic Temperature",
        "func": "msg.topic='Temperature';\nmsg.payload = msg.payload.BME280.Temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 1340,
        "wires": [
            [
                "d066f18b.1f778"
            ]
        ]
    },
    {
        "id": "1ed553b3.e05a8c",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Topic Humidity",
        "func": "msg.topic='Humidity';\nmsg.payload = msg.payload.BME280.Humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1380,
        "wires": [
            [
                "389facf0.7fe1f4"
            ]
        ]
    },
    {
        "id": "389facf0.7fe1f4",
        "type": "ui_chart",
        "z": "7dbbdbf3.365084",
        "name": "Humidity Living-Room Graph",
        "group": "42efb286.84806c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "50",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 780,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "bce29b5a.a51d68",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Topic Pressure",
        "func": "msg.topic='Pressure';\nmsg.payload = msg.payload.BME280.Pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1420,
        "wires": [
            [
                "2244dc8f.477504"
            ]
        ]
    },
    {
        "id": "2244dc8f.477504",
        "type": "ui_chart",
        "z": "7dbbdbf3.365084",
        "name": "Pressure Living-Room Graph",
        "group": "bb3e4354.f2de7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "50",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 780,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "295a034f.41864c",
        "type": "ui_gauge",
        "z": "7dbbdbf3.365084",
        "name": "Humidity Living-Room",
        "group": "42efb286.84806c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bed-Room",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 1260,
        "wires": []
    },
    {
        "id": "4a472bcb.3258a4",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Pressure",
        "func": "msg.payload = msg.payload.BME280.Pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1300,
        "wires": [
            [
                "9912eeb5.468a1"
            ]
        ]
    },
    {
        "id": "9912eeb5.468a1",
        "type": "ui_gauge",
        "z": "7dbbdbf3.365084",
        "name": "Pressure Living-Room",
        "group": "bb3e4354.f2de7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Living-Room",
        "label": "",
        "format": "{{value}}",
        "min": "800",
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 1300,
        "wires": []
    }
]