Node-RED/smartHome.json
[
    {
        "id": "e0207c67.5fe73",
        "type": "tab",
        "label": "GLOBAL"
    },
    {
        "id": "4b279b3e.b560d4",
        "type": "tab",
        "label": "Alexa Commands"
    },
    {
        "id": "2186aa43.d8c126",
        "type": "tab",
        "label": "Dashboard Home Cinema"
    },
    {
        "id": "99e96001.113a9",
        "type": "tab",
        "label": "Dashboard States"
    },
    {
        "id": "1f564b0d.cd34c5",
        "type": "tab",
        "label": "H&T Sensor"
    },
    {
        "id": "de157ea5.02ed8",
        "type": "ui_base",
        "name": "Smart Home",
        "theme": "theme-dark"
    },
    {
        "id": "b7fc869.1c84e78",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.0.254",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "46fad4f8.93fd6c",
        "type": "ui_tab",
        "z": "",
        "name": "Home Cinema",
        "icon": "dashboard",
        "order": 7
    },
    {
        "id": "9718b566.666db8",
        "type": "ui_tab",
        "z": "",
        "name": "Status",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "eb2441b4.1ea54",
        "type": "ui_group",
        "z": "",
        "name": "Lights & Home Cinema",
        "tab": "9718b566.666db8",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "49693815.953628",
        "type": "ui_group",
        "z": "",
        "name": "Sensors",
        "tab": "9718b566.666db8",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "37c12700.472dea",
        "type": "ui_group",
        "z": "",
        "name": "OpenWebif",
        "tab": "46fad4f8.93fd6c",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "6eb1c2a3.521c7c",
        "type": "postgresdb",
        "z": "",
        "hostname": "localhost",
        "port": "5432",
        "db": "smarthome",
        "ssl": false
    },
    {
        "id": "72efc60c.f74b78",
        "type": "telegram bot",
        "z": "",
        "botname": "MySmartHome",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "verboselogging": false
    },
    {
        "id": "3ecfa11d.eb264e",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "9718b566.666db8",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "82ce3ed7.74938",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "9718b566.666db8",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "bec7ad3a.a6778",
        "type": "ui_group",
        "z": "",
        "name": "Dehumidifier",
        "tab": "9718b566.666db8",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "5c8d0313.8d196c",
        "type": "amazon-echo-hub",
        "z": "4b279b3e.b560d4",
        "port": "80",
        "enableinput": false,
        "x": 112.5,
        "y": 1071.0000162124634,
        "wires": [
            [
                "a0a28272.a558b",
                "89381f11.6b7eb",
                "8d236e16.62acd",
                "ecc98b83.4025e8",
                "98a2753b.48f028",
                "e133c169.3cf4b",
                "db5470ea.84713",
                "6dcb948.f3ea46c",
                "900bde.588f042",
                "4f50b3a4.52500c",
                "f5189ce6.c02c9",
                "bbf1f4b0.0bb5d8",
                "c5fe2965.bd3828",
                "7f35d4ee.0dd56c",
                "d5c07f63.1781c",
                "1cb64fe.7c9e7b",
                "52d439aa.976af8",
                "a05d95ed.b874e8",
                "8ea30fd0.4f335",
                "385ebbb5.5eec14",
                "76da33c1.1a60fc",
                "4cd6bd3b.217824"
            ]
        ]
    },
    {
        "id": "a0a28272.a558b",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "Wohnzimmer Licht",
        "topic": "",
        "x": 376.50000381469727,
        "y": 80.5,
        "wires": [
            [
                "eb3edbef.0c21c8"
            ]
        ]
    },
    {
        "id": "eb3edbef.0c21c8",
        "type": "mqtt out",
        "z": "4b279b3e.b560d4",
        "name": "Living Room Light OUT",
        "topic": "shellies/shelly1-B9CFBD/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 620.5000038146973,
        "y": 80.5,
        "wires": []
    },
    {
        "id": "57541dd4.5a2d14",
        "type": "function",
        "z": "e0207c67.5fe73",
        "name": "DreamboxIP",
        "func": "global.set('dreamboxip','http://192.168.0.199');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 368,
        "y": 59,
        "wires": [
            []
        ]
    },
    {
        "id": "17b6dc59.b61654",
        "type": "inject",
        "z": "e0207c67.5fe73",
        "name": "",
        "topic": "",
        "payload": "dreamboxip",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 145,
        "y": 59,
        "wires": [
            [
                "57541dd4.5a2d14"
            ]
        ]
    },
    {
        "id": "89381f11.6b7eb",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "Küche Licht",
        "topic": "",
        "x": 360.50000190734863,
        "y": 142.00000286102295,
        "wires": [
            [
                "63481d71.390174"
            ]
        ]
    },
    {
        "id": "63481d71.390174",
        "type": "mqtt out",
        "z": "4b279b3e.b560d4",
        "name": "Kitchen Room Light OUT",
        "topic": "shellies/shelly1-76F642/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 607.7500038146973,
        "y": 140.50000190734863,
        "wires": []
    },
    {
        "id": "8d236e16.62acd",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "Badezimmer Licht",
        "topic": "",
        "x": 376.75000381469727,
        "y": 202.50000381469727,
        "wires": [
            [
                "2edc1c6b.a2e5c4"
            ]
        ]
    },
    {
        "id": "2edc1c6b.a2e5c4",
        "type": "mqtt out",
        "z": "4b279b3e.b560d4",
        "name": "Bathroom Light OUT",
        "topic": "shellies/shelly1-B9D598/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 608.5000038146973,
        "y": 203.75000286102295,
        "wires": []
    },
    {
        "id": "8d35563e.da2788",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 1355.3333587646484,
        "y": 843.3334527015686,
        "wires": [
            []
        ]
    },
    {
        "id": "d09a5c90.a8dac",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for Standby",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=116';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1131.3372650146484,
        "y": 842.4154839515686,
        "wires": [
            [
                "8d35563e.da2788"
            ]
        ]
    },
    {
        "id": "ecc98b83.4025e8",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "Dreambox",
        "topic": "",
        "x": 372.5833740234375,
        "y": 795.3334717750549,
        "wires": [
            [
                "80df6a5.4dd0498",
                "2e0f6e22.4d8f72"
            ]
        ]
    },
    {
        "id": "98a2753b.48f028",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "Sound",
        "topic": "",
        "x": 361.33335876464844,
        "y": 884.3334527015686,
        "wires": [
            [
                "3e6bd1a3.908c1e"
            ]
        ]
    },
    {
        "id": "3e6bd1a3.908c1e",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL with Volume",
        "func": "var ip=global.get('dreamboxip');\nvar value;\nif(msg.payload === \"on\"){\n    value = 80;\n}\nif (msg.payload === \"off\"){\n    value = 40;\n}\n\nmsg.url = ip + '/web/vol?set=set' + value;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 561.3528900146484,
        "y": 884.4388909339905,
        "wires": [
            [
                "b29c0716.2c42a8"
            ]
        ]
    },
    {
        "id": "b29c0716.2c42a8",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 778.3333587646484,
        "y": 883.3334527015686,
        "wires": [
            []
        ]
    },
    {
        "id": "e133c169.3cf4b",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "Recording",
        "topic": "",
        "x": 372.33335876464844,
        "y": 947.3334527015686,
        "wires": [
            [
                "37e144a1.bbe6ec"
            ]
        ]
    },
    {
        "id": "52c8c98.9a06738",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for Recording Start",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=167';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 728.3333587646484,
        "y": 943.3334527015686,
        "wires": [
            [
                "a4ce3d87.29bb5"
            ]
        ]
    },
    {
        "id": "a4ce3d87.29bb5",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 953.3333587646484,
        "y": 944.3334527015686,
        "wires": [
            []
        ]
    },
    {
        "id": "5f015a91.76c804",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for OK",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=352';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 852.3333587646484,
        "y": 994.3334527015686,
        "wires": [
            [
                "4c1a4ce5.613be4"
            ]
        ]
    },
    {
        "id": "4c1a4ce5.613be4",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1040.3333587646484,
        "y": 994.3334527015686,
        "wires": [
            []
        ]
    },
    {
        "id": "fde13890.fe1b48",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 671.3333587646484,
        "y": 993.3334527015686,
        "wires": [
            [
                "5f015a91.76c804"
            ]
        ]
    },
    {
        "id": "37e144a1.bbe6ec",
        "type": "switch",
        "z": "4b279b3e.b560d4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 515.3333587646484,
        "y": 948.3334527015686,
        "wires": [
            [
                "52c8c98.9a06738",
                "fde13890.fe1b48"
            ],
            [
                "bdce2d5f.adb23",
                "a1bb0198.0f52b",
                "32762292.19d2ae"
            ]
        ]
    },
    {
        "id": "bdce2d5f.adb23",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for Recording Stop",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=167';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 722.3333587646484,
        "y": 1069.3334527015686,
        "wires": [
            [
                "a36bf574.462f58"
            ]
        ]
    },
    {
        "id": "a36bf574.462f58",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 947.3333587646484,
        "y": 1069.3334527015686,
        "wires": [
            []
        ]
    },
    {
        "id": "f91771cf.6c35c",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for OK",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=352';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 844.3333587646484,
        "y": 1120.3334527015686,
        "wires": [
            [
                "9374c392.7d5f9"
            ]
        ]
    },
    {
        "id": "9374c392.7d5f9",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1023.3333587646484,
        "y": 1121.3334527015686,
        "wires": [
            []
        ]
    },
    {
        "id": "a1bb0198.0f52b",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 654.3333587646484,
        "y": 1120.3334527015686,
        "wires": [
            [
                "f91771cf.6c35c"
            ]
        ]
    },
    {
        "id": "aed32e6b.b1bbc",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for OK",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=352';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 843.3333587646484,
        "y": 1180.3334527015686,
        "wires": [
            [
                "d40315cf.827ca8"
            ]
        ]
    },
    {
        "id": "d40315cf.827ca8",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1019.3333587646484,
        "y": 1179.3334527015686,
        "wires": [
            []
        ]
    },
    {
        "id": "32762292.19d2ae",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 664.3333587646484,
        "y": 1181.3334527015686,
        "wires": [
            [
                "aed32e6b.b1bbc"
            ]
        ]
    },
    {
        "id": "c9aa0e78.874a5",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 861.3333587646484,
        "y": 1255.3334527015686,
        "wires": [
            []
        ]
    },
    {
        "id": "67d1cb65.ae8dd4",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for Info",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=358';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 665.3372650146484,
        "y": 1254.4154839515686,
        "wires": [
            [
                "c9aa0e78.874a5"
            ]
        ]
    },
    {
        "id": "db5470ea.84713",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "Senderinfo",
        "topic": "",
        "x": 350.83338928222656,
        "y": 1252.833411693573,
        "wires": [
            [
                "cc2dd57c.af33f8"
            ]
        ]
    },
    {
        "id": "cc2dd57c.af33f8",
        "type": "switch",
        "z": "4b279b3e.b560d4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 495.33335876464844,
        "y": 1254.3334527015686,
        "wires": [
            [
                "67d1cb65.ae8dd4"
            ],
            [
                "941135e7.4180a8"
            ]
        ]
    },
    {
        "id": "941135e7.4180a8",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL with Exit",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=174';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 673.3333587646484,
        "y": 1315.3334527015686,
        "wires": [
            [
                "7bfc7870.72b358"
            ]
        ]
    },
    {
        "id": "7bfc7870.72b358",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 874.3333587646484,
        "y": 1313.3334527015686,
        "wires": [
            []
        ]
    },
    {
        "id": "9d4b3ca9.60245",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 913.3333435058594,
        "y": 1394.047712802887,
        "wires": [
            []
        ]
    },
    {
        "id": "386ab4f5.11f9cc",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for PVR",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=393';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 724.3372497558594,
        "y": 1395.129744052887,
        "wires": [
            [
                "9d4b3ca9.60245"
            ]
        ]
    },
    {
        "id": "6dcb948.f3ea46c",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "Filme",
        "topic": "",
        "x": 379.1904983520508,
        "y": 1396.047767162323,
        "wires": [
            [
                "1e396e42.00bfe2"
            ]
        ]
    },
    {
        "id": "1e396e42.00bfe2",
        "type": "switch",
        "z": "4b279b3e.b560d4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 539.3333435058594,
        "y": 1397.047712802887,
        "wires": [
            [
                "386ab4f5.11f9cc"
            ],
            [
                "a3197578.564288"
            ]
        ]
    },
    {
        "id": "a3197578.564288",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL with Exit",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=174';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 728.3333435058594,
        "y": 1448.047712802887,
        "wires": [
            [
                "bb0eda0c.a23028"
            ]
        ]
    },
    {
        "id": "bb0eda0c.a23028",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 923.3333435058594,
        "y": 1448.047712802887,
        "wires": [
            []
        ]
    },
    {
        "id": "900bde.588f042",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "Filmwiedergabe",
        "topic": "",
        "x": 404.33336639404297,
        "y": 1540.3334679603577,
        "wires": [
            [
                "c33ae2dc.33efe"
            ]
        ]
    },
    {
        "id": "c33ae2dc.33efe",
        "type": "switch",
        "z": "4b279b3e.b560d4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 552.333366394043,
        "y": 1541.3334679603577,
        "wires": [
            [],
            [
                "8c9e769e.dd5e78",
                "f8416136.77316"
            ]
        ]
    },
    {
        "id": "8c9e769e.dd5e78",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL with MovieStop",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=128';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 757.333366394043,
        "y": 1534.3334679603577,
        "wires": [
            [
                "edbc3b44.4355a8"
            ]
        ]
    },
    {
        "id": "edbc3b44.4355a8",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 977.333366394043,
        "y": 1533.3334679603577,
        "wires": [
            []
        ]
    },
    {
        "id": "c975be1a.b4ec8",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL with Exit",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=174';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 905.333366394043,
        "y": 1589.3334679603577,
        "wires": [
            [
                "4f50fcbd.2ba4a4"
            ]
        ]
    },
    {
        "id": "4f50fcbd.2ba4a4",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 1097.333366394043,
        "y": 1589.3334679603577,
        "wires": [
            []
        ]
    },
    {
        "id": "f8416136.77316",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 711.333366394043,
        "y": 1590.3334679603577,
        "wires": [
            [
                "c975be1a.b4ec8"
            ]
        ]
    },
    {
        "id": "c53db748.4868c8",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 784.3333511352539,
        "y": 1654.833424091339,
        "wires": [
            []
        ]
    },
    {
        "id": "5bbd9bdf.02c354",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for Pause",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=207';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570.3372573852539,
        "y": 1655.915455341339,
        "wires": [
            [
                "c53db748.4868c8"
            ]
        ]
    },
    {
        "id": "4f50b3a4.52500c",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "Pause",
        "topic": "",
        "x": 378.3333511352539,
        "y": 1654.833424091339,
        "wires": [
            [
                "5bbd9bdf.02c354"
            ]
        ]
    },
    {
        "id": "80df6a5.4dd0498",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL Statusinfo",
        "func": "msg.action = msg.payload;\n\nvar ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/statusinfo';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 618.3333587646484,
        "y": 790.3334527015686,
        "wires": [
            [
                "c1ec66f5.06f4c8"
            ]
        ]
    },
    {
        "id": "c1ec66f5.06f4c8",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 816.3333587646484,
        "y": 790.3334527015686,
        "wires": [
            [
                "1ecaabea.e80804"
            ]
        ]
    },
    {
        "id": "1ecaabea.e80804",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create inStandy Value",
        "func": "if (msg.action === 'on' && msg.payload.inStandby === 'false')\n{\n    global.set('inStandby','on_false');\n}\nif (msg.action === 'on' && msg.payload.inStandby === 'true')\n{\n    global.set('inStandby','on_true');\n}\nif (msg.action === 'off' && msg.payload.inStandby === 'false')\n{\n    global.set('inStandby','off_true');\n}\nif (msg.action === 'off' && msg.payload.inStandby === 'true')\n{\n    global.set('inStandby','off_false');\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010.3333587646484,
        "y": 790.3334527015686,
        "wires": [
            []
        ]
    },
    {
        "id": "38d81076.f311",
        "type": "switch",
        "z": "4b279b3e.b560d4",
        "name": "",
        "property": "inStandby",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "on_true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on_false",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 917.3333587646484,
        "y": 845.3334527015686,
        "wires": [
            [
                "d09a5c90.a8dac"
            ],
            [],
            [
                "d09a5c90.a8dac"
            ],
            []
        ]
    },
    {
        "id": "2e0f6e22.4d8f72",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 592.3333587646484,
        "y": 844.3334527015686,
        "wires": [
            [
                "38d81076.f311"
            ]
        ]
    },
    {
        "id": "8c81d1ad.58ccf",
        "type": "comment",
        "z": "99e96001.113a9",
        "name": "Lights",
        "info": "",
        "x": 122,
        "y": 53,
        "wires": []
    },
    {
        "id": "73d58e31.6ab8f",
        "type": "comment",
        "z": "99e96001.113a9",
        "name": "Home Cinema",
        "info": "",
        "x": 132.4444351196289,
        "y": 584.3334798812866,
        "wires": []
    },
    {
        "id": "75319ad8.6b24c4",
        "type": "mqtt in",
        "z": "99e96001.113a9",
        "name": "Bathroom Light IN",
        "topic": "shellies/shelly1-B9D598/relay/0",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 159,
        "y": 103,
        "wires": [
            [
                "ffd6c143.2fdc3"
            ]
        ]
    },
    {
        "id": "2b70adc5.7462c2",
        "type": "mqtt out",
        "z": "99e96001.113a9",
        "name": "Bathroom Light OUT",
        "topic": "shellies/shelly1-B9D598/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 572,
        "y": 101,
        "wires": []
    },
    {
        "id": "ffd6c143.2fdc3",
        "type": "ui_switch",
        "z": "99e96001.113a9",
        "name": "",
        "label": "Badezimmer",
        "group": "eb2441b4.1ea54",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 362.7142868041992,
        "y": 102.42857360839844,
        "wires": [
            [
                "2b70adc5.7462c2"
            ]
        ]
    },
    {
        "id": "b9792a89.ad1568",
        "type": "mqtt in",
        "z": "99e96001.113a9",
        "name": "Kitchen Room Light IN",
        "topic": "shellies/shelly1-76F642/relay/0",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 168,
        "y": 167,
        "wires": [
            [
                "8af6284f.2cb648"
            ]
        ]
    },
    {
        "id": "14d4822f.f6642e",
        "type": "mqtt out",
        "z": "99e96001.113a9",
        "name": "Kitchen Room Light OUT",
        "topic": "shellies/shelly1-76F642/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 561,
        "y": 167,
        "wires": []
    },
    {
        "id": "8af6284f.2cb648",
        "type": "ui_switch",
        "z": "99e96001.113a9",
        "name": "",
        "label": "Küche",
        "group": "eb2441b4.1ea54",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 347,
        "y": 167,
        "wires": [
            [
                "14d4822f.f6642e"
            ]
        ]
    },
    {
        "id": "fd4e8834.7d7f48",
        "type": "mqtt in",
        "z": "99e96001.113a9",
        "name": "Living Room Light IN",
        "topic": "shellies/shelly1-B9CFBD/relay/0",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 156.77778244018555,
        "y": 229.00000762939453,
        "wires": [
            [
                "e3337fa3.ec6eb"
            ]
        ]
    },
    {
        "id": "f1771a84.de40d8",
        "type": "mqtt out",
        "z": "99e96001.113a9",
        "name": "Living Room Light OUT",
        "topic": "shellies/shelly1-B9CFBD/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 561,
        "y": 229,
        "wires": []
    },
    {
        "id": "e3337fa3.ec6eb",
        "type": "ui_switch",
        "z": "99e96001.113a9",
        "name": "",
        "label": "Wohnzimmer",
        "group": "eb2441b4.1ea54",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 351,
        "y": 229,
        "wires": [
            [
                "f1771a84.de40d8"
            ]
        ]
    },
    {
        "id": "6b51d13d.9021b",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 578.8511979239328,
        "y": 1848.8640257971629,
        "wires": [
            [
                "643147e5.c799e8"
            ]
        ]
    },
    {
        "id": "18568c3f.97dcf4",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 568.5177781241281,
        "y": 1811.8004939215525,
        "wires": [
            [
                "5a3b939.fbc5c6c"
            ]
        ]
    },
    {
        "id": "f4082d5.fdc66d",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 582.3828866141183,
        "y": 1954.3878352301463,
        "wires": [
            [
                "9f816356.6f3cb"
            ]
        ]
    },
    {
        "id": "89fb2fa8.7f4d1",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 574.747972215925,
        "y": 1917.324354852949,
        "wires": [
            [
                "5a3b939.fbc5c6c"
            ]
        ]
    },
    {
        "id": "a6e6a29f.f0f86",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 589.9225518362863,
        "y": 2154.689423288618,
        "wires": [
            [
                "ae703056.8d4c8"
            ]
        ]
    },
    {
        "id": "7b334f6e.911f",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 579.589296068464,
        "y": 2117.943395342146,
        "wires": [
            [
                "ae703056.8d4c8"
            ]
        ]
    },
    {
        "id": "f5189ce6.c02c9",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "HomeSkyCinema",
        "topic": "",
        "x": 370.24600764683316,
        "y": 2132.8574244635447,
        "wires": [
            [
                "7b334f6e.911f",
                "a6e6a29f.f0f86",
                "6e618358.4005cc"
            ]
        ]
    },
    {
        "id": "a31c4be8.50c7d8",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 583.7004029410226,
        "y": 2063.9592878477915,
        "wires": [
            [
                "7f69ddfd.962af4"
            ]
        ]
    },
    {
        "id": "12f6f351.69ee7d",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 575.5892579214914,
        "y": 2025.9433104651316,
        "wires": [
            [
                "5a3b939.fbc5c6c"
            ]
        ]
    },
    {
        "id": "1da73feb.ce108",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 591.1289269583566,
        "y": 2263.9274794714793,
        "wires": [
            [
                "a772bf3a.f6b2f"
            ]
        ]
    },
    {
        "id": "2fc1189e.2077f8",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 581.5892521994455,
        "y": 2227.657573427473,
        "wires": [
            [
                "ae703056.8d4c8"
            ]
        ]
    },
    {
        "id": "bbf1f4b0.0bb5d8",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "HomeSkyCinemaPlusEins",
        "topic": "",
        "x": 359.6745812552316,
        "y": 2244.6191002982005,
        "wires": [
            [
                "2fc1189e.2077f8",
                "1da73feb.ce108",
                "6e618358.4005cc"
            ]
        ]
    },
    {
        "id": "f30c5eb1.69a45",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 588.7639090674264,
        "y": 2371.8956267493113,
        "wires": [
            [
                "7f69ddfd.962af4"
            ]
        ]
    },
    {
        "id": "90e874e2.d93998",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 578.9067313330514,
        "y": 2337.054449762617,
        "wires": [
            [
                "ae703056.8d4c8"
            ]
        ]
    },
    {
        "id": "c5fe2965.bd3828",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "HomeSkyCinemaPlusVieUndZwanzig",
        "topic": "",
        "x": 321.75394221714566,
        "y": 2356.0793807165965,
        "wires": [
            [
                "90e874e2.d93998",
                "f30c5eb1.69a45",
                "6e618358.4005cc"
            ]
        ]
    },
    {
        "id": "602d42b1.b1488c",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 582.922605242048,
        "y": 2477.0068022864207,
        "wires": [
            [
                "9f816356.6f3cb"
            ]
        ]
    },
    {
        "id": "5db05974.84cd38",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 575.9226205008371,
        "y": 2442.6417548315867,
        "wires": [
            [
                "ae703056.8d4c8"
            ]
        ]
    },
    {
        "id": "7f35d4ee.0dd56c",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "HomeSkyAction",
        "topic": "",
        "x": 390.07142421177457,
        "y": 2457.5556141989573,
        "wires": [
            [
                "5db05974.84cd38",
                "602d42b1.b1488c",
                "6e618358.4005cc"
            ]
        ]
    },
    {
        "id": "d5c07f63.1781c",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "HomeTelevision",
        "topic": "",
        "x": 372.1824624197824,
        "y": 1930.952531542097,
        "wires": [
            [
                "89fb2fa8.7f4d1",
                "f4082d5.fdc66d",
                "598fc28b.0d659c"
            ]
        ]
    },
    {
        "id": "1cb64fe.7c9e7b",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "HomeSatEins",
        "topic": "",
        "x": 378.3729989188058,
        "y": 2040.7937895911082,
        "wires": [
            [
                "12f6f351.69ee7d",
                "a31c4be8.50c7d8",
                "598fc28b.0d659c"
            ]
        ]
    },
    {
        "id": "598fc28b.0d659c",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for 1 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=2';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 924.8810424804688,
        "y": 1966.50794506073,
        "wires": [
            [
                "730ffdfe.b60ba4"
            ]
        ]
    },
    {
        "id": "6e618358.4005cc",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for 2 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=3';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 924.8810920715332,
        "y": 2006.507926940918,
        "wires": [
            [
                "730ffdfe.b60ba4"
            ]
        ]
    },
    {
        "id": "590084ed.846fbc",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for 3 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=4';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 928.5318832397461,
        "y": 2044.7618861198425,
        "wires": [
            [
                "730ffdfe.b60ba4"
            ]
        ]
    },
    {
        "id": "ae703056.8d4c8",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for 4 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=5';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 929.1667633056641,
        "y": 2082.222264289856,
        "wires": [
            [
                "730ffdfe.b60ba4"
            ]
        ]
    },
    {
        "id": "a772bf3a.f6b2f",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for 5 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=6';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 929.1667022705078,
        "y": 2117.936532020569,
        "wires": [
            [
                "730ffdfe.b60ba4"
            ]
        ]
    },
    {
        "id": "7f69ddfd.962af4",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for 6 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=7';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 929.1668586730957,
        "y": 2155.079300880432,
        "wires": [
            [
                "730ffdfe.b60ba4"
            ]
        ]
    },
    {
        "id": "9f816356.6f3cb",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for 7 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=8';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 926.3097534179688,
        "y": 2195.07931804657,
        "wires": [
            [
                "730ffdfe.b60ba4"
            ]
        ]
    },
    {
        "id": "643147e5.c799e8",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for 8 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=9';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 926.3096313476562,
        "y": 2235.0793867111206,
        "wires": [
            [
                "730ffdfe.b60ba4"
            ]
        ]
    },
    {
        "id": "5a3b939.fbc5c6c",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for 9 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=10';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 926.3097152709961,
        "y": 2273.650866508484,
        "wires": [
            [
                "730ffdfe.b60ba4"
            ]
        ]
    },
    {
        "id": "730ffdfe.b60ba4",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 1233.452480316162,
        "y": 2110.7936220169067,
        "wires": [
            []
        ]
    },
    {
        "id": "52d439aa.976af8",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "HomePro",
        "topic": "",
        "x": 359.6428124564035,
        "y": 1824.7619893210276,
        "wires": [
            [
                "598fc28b.0d659c",
                "18568c3f.97dcf4",
                "6b51d13d.9021b"
            ]
        ]
    },
    {
        "id": "92bf1865.004978",
        "type": "comment",
        "z": "4b279b3e.b560d4",
        "name": "Dreambox Channels",
        "info": "",
        "x": 389.64283752441406,
        "y": 1761.9048862457275,
        "wires": []
    },
    {
        "id": "64e2cd46.adf624",
        "type": "comment",
        "z": "4b279b3e.b560d4",
        "name": "Lights",
        "info": "",
        "x": 331.5,
        "y": 34,
        "wires": []
    },
    {
        "id": "a9764f48.bcedf",
        "type": "comment",
        "z": "4b279b3e.b560d4",
        "name": "Dreambox Commands",
        "info": "",
        "x": 391.6666564941406,
        "y": 726.2500519752502,
        "wires": []
    },
    {
        "id": "652d47ec.dbea38",
        "type": "mqtt out",
        "z": "4b279b3e.b560d4",
        "name": "HeimKino OUT",
        "topic": "cmnd/sonoff_homecinema/power",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 880.8335609436035,
        "y": 454.000027179718,
        "wires": []
    },
    {
        "id": "a05d95ed.b874e8",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "HeimKino",
        "topic": "",
        "x": 358.8334770202637,
        "y": 461.00001335144043,
        "wires": [
            [
                "7abf5e61.839a3"
            ]
        ]
    },
    {
        "id": "38129eb.598ff62",
        "type": "mqtt in",
        "z": "99e96001.113a9",
        "name": "HomeCinema IN",
        "topic": "cmnd/sonoff_homecinema/power",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 137.4444351196289,
        "y": 642.3334798812866,
        "wires": [
            [
                "6853fcb4.c96cf4"
            ]
        ]
    },
    {
        "id": "31ca2c0c.597494",
        "type": "mqtt out",
        "z": "99e96001.113a9",
        "name": "HomeCinema OUT",
        "topic": "cmnd/sonoff_homecinema/power",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 549.4444351196289,
        "y": 642.3334798812866,
        "wires": []
    },
    {
        "id": "6853fcb4.c96cf4",
        "type": "ui_switch",
        "z": "99e96001.113a9",
        "name": "",
        "label": "Home Cinema",
        "group": "eb2441b4.1ea54",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 345.4444351196289,
        "y": 643.3334798812866,
        "wires": [
            [
                "31ca2c0c.597494"
            ]
        ]
    },
    {
        "id": "d7620aea.172db8",
        "type": "comment",
        "z": "4b279b3e.b560d4",
        "name": "Plugs",
        "info": "",
        "x": 348.5000305175781,
        "y": 414.0000247955322,
        "wires": []
    },
    {
        "id": "8ea30fd0.4f335",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "Schlafzimmer Licht",
        "topic": "",
        "x": 378,
        "y": 258,
        "wires": [
            [
                "31a9196f.2ddde6"
            ]
        ]
    },
    {
        "id": "31a9196f.2ddde6",
        "type": "mqtt out",
        "z": "4b279b3e.b560d4",
        "name": "Bedroom Light OUT",
        "topic": "shellies/shelly1-944E49/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 604.75,
        "y": 258.25,
        "wires": []
    },
    {
        "id": "41b47532.61017c",
        "type": "mqtt in",
        "z": "99e96001.113a9",
        "name": "Living Room Light IN",
        "topic": "shellies/shelly1-944E49/relay/0",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 152.22222900390625,
        "y": 288.3333320617676,
        "wires": [
            [
                "eea8453e.38fd28"
            ]
        ]
    },
    {
        "id": "300fda65.cb9476",
        "type": "mqtt out",
        "z": "99e96001.113a9",
        "name": "Living Room Light OUT",
        "topic": "shellies/shelly1-944E49/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 581.9999847412109,
        "y": 286.00000381469727,
        "wires": []
    },
    {
        "id": "eea8453e.38fd28",
        "type": "ui_switch",
        "z": "99e96001.113a9",
        "name": "",
        "label": "Schlafzimmer",
        "group": "eb2441b4.1ea54",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 362,
        "y": 285,
        "wires": [
            [
                "300fda65.cb9476"
            ]
        ]
    },
    {
        "id": "385ebbb5.5eec14",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "Bett Licht",
        "topic": "",
        "x": 368.4796714782715,
        "y": 584.2337260246277,
        "wires": [
            [
                "801e07b7.bb7f38"
            ]
        ]
    },
    {
        "id": "801e07b7.bb7f38",
        "type": "mqtt out",
        "z": "4b279b3e.b560d4",
        "name": "Bedroom Light OUT",
        "topic": "cmnd/sonoff_bedlight/power",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 572.785228729248,
        "y": 585.4837374687195,
        "wires": []
    },
    {
        "id": "7970fe91.8921f",
        "type": "mqtt in",
        "z": "99e96001.113a9",
        "name": "BedLight IN",
        "topic": "cmnd/sonoff_bedlight/power",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 133.3526153564453,
        "y": 350.87577724456787,
        "wires": [
            [
                "24f463b6.6bba5c"
            ]
        ]
    },
    {
        "id": "874cb57a.302e18",
        "type": "mqtt out",
        "z": "99e96001.113a9",
        "name": "Bed Light OUT",
        "topic": "cmnd/sonoff_bedlight/power",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 537.5748519897461,
        "y": 349.7646484375,
        "wires": []
    },
    {
        "id": "24f463b6.6bba5c",
        "type": "ui_switch",
        "z": "99e96001.113a9",
        "name": "",
        "label": "Bett Licht",
        "group": "eb2441b4.1ea54",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 336.9081611633301,
        "y": 349.6535358428955,
        "wires": [
            [
                "874cb57a.302e18"
            ]
        ]
    },
    {
        "id": "7abf5e61.839a3",
        "type": "switch",
        "z": "4b279b3e.b560d4",
        "name": "On or Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 542.6840667724609,
        "y": 460.63543128967285,
        "wires": [
            [
                "652d47ec.dbea38"
            ],
            [
                "6812a7f8.5f9048",
                "4f664027.4456d"
            ]
        ]
    },
    {
        "id": "6812a7f8.5f9048",
        "type": "delay",
        "z": "4b279b3e.b560d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 712.6877975463867,
        "y": 489.63549995422363,
        "wires": [
            [
                "652d47ec.dbea38"
            ]
        ]
    },
    {
        "id": "4f664027.4456d",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "Create URL for Shutdown",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/powerstate?newstate=1';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 754.5174865722656,
        "y": 542.7326488494873,
        "wires": [
            [
                "2138a3d4.de44cc"
            ]
        ]
    },
    {
        "id": "2138a3d4.de44cc",
        "type": "http request",
        "z": "4b279b3e.b560d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 962.5136184692383,
        "y": 543.650598526001,
        "wires": [
            []
        ]
    },
    {
        "id": "72309b3a.3b8d84",
        "type": "comment",
        "z": "2186aa43.d8c126",
        "name": "Embedded OpenWebif Iterface from Dreambox",
        "info": "",
        "x": 250.51734161376953,
        "y": 44.9097204208374,
        "wires": []
    },
    {
        "id": "1d6dfaa.76f8d05",
        "type": "inject",
        "z": "2186aa43.d8c126",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 161.07988357543945,
        "y": 99.97223567962646,
        "wires": [
            [
                "a1c6e1cf.240dd"
            ]
        ]
    },
    {
        "id": "a1c6e1cf.240dd",
        "type": "function",
        "z": "2186aa43.d8c126",
        "name": "Create WebIf URL for Dreambox",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.payload = ip + '/mobile';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 403.52781677246094,
        "y": 99.91667366027832,
        "wires": [
            [
                "4a221c50.9d7064"
            ]
        ]
    },
    {
        "id": "4a221c50.9d7064",
        "type": "ui_template",
        "z": "2186aa43.d8c126",
        "group": "37c12700.472dea",
        "name": "",
        "order": 0,
        "width": "0",
        "height": "0",
        "format": "<iframe id=\"myFrame\" height=\"600\" width=\"300\" src = \"\"></iframe>\n<script>\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 633.5242805480957,
        "y": 99.65628051757812,
        "wires": [
            []
        ]
    },
    {
        "id": "37879a78.39c2c6",
        "type": "mqtt in",
        "z": "99e96001.113a9",
        "name": "Corridor Light IN",
        "topic": "shellies/shelly1-942645/relay/0",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 139.7951316833496,
        "y": 420.89929151535034,
        "wires": [
            [
                "fb5ec5cf.1abc38"
            ]
        ]
    },
    {
        "id": "41d5c4b1.0dddac",
        "type": "mqtt out",
        "z": "99e96001.113a9",
        "name": "Corridor Light OUT",
        "topic": "shellies/shelly1-942645/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 514.0173492431641,
        "y": 422.0104064941406,
        "wires": []
    },
    {
        "id": "fb5ec5cf.1abc38",
        "type": "ui_switch",
        "z": "99e96001.113a9",
        "name": "",
        "label": "Corridor",
        "group": "eb2441b4.1ea54",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 326.0173873901367,
        "y": 422.0104010105133,
        "wires": [
            [
                "41d5c4b1.0dddac"
            ]
        ]
    },
    {
        "id": "76da33c1.1a60fc",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "Gang Licht",
        "topic": "",
        "x": 363.0173797607422,
        "y": 309.788236618042,
        "wires": [
            [
                "ce1f41d5.f719e"
            ]
        ]
    },
    {
        "id": "ce1f41d5.f719e",
        "type": "mqtt out",
        "z": "4b279b3e.b560d4",
        "name": "Corridor Light OUT",
        "topic": "shellies/shelly1-942645/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 585.017333984375,
        "y": 308.7882080078125,
        "wires": []
    },
    {
        "id": "78fa2931.c7aa58",
        "type": "mqtt in",
        "z": "99e96001.113a9",
        "name": "H&T Temperature IN",
        "topic": "shellies/shellyht-58EEB4/sensor/temperature",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 147.6666717529297,
        "y": 808.600004196167,
        "wires": [
            [
                "1ea6bb02.20d5c5"
            ]
        ]
    },
    {
        "id": "1ea6bb02.20d5c5",
        "type": "ui_gauge",
        "z": "99e96001.113a9",
        "name": "Temperature",
        "group": "3ecfa11d.eb264e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 389.1000061035156,
        "y": 808.5999813079834,
        "wires": []
    },
    {
        "id": "6bac1c1c.75cde4",
        "type": "mqtt in",
        "z": "99e96001.113a9",
        "name": "H&T Humidity IN",
        "topic": "shellies/shellyht-58EEB4/sensor/humidity",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 136.00000762939453,
        "y": 880.5999870300293,
        "wires": [
            [
                "de90dc13.aad05"
            ]
        ]
    },
    {
        "id": "788bbc1b.89b774",
        "type": "ui_gauge",
        "z": "99e96001.113a9",
        "name": "Humidity",
        "group": "82ce3ed7.74938",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 462.00000190734863,
        "y": 880.5999412536621,
        "wires": []
    },
    {
        "id": "ce34d088.0e43c",
        "type": "comment",
        "z": "99e96001.113a9",
        "name": "H&T Bedroom Sensor",
        "info": "",
        "x": 160,
        "y": 759.5999755859375,
        "wires": []
    },
    {
        "id": "aacaba00.2065e8",
        "type": "template",
        "z": "1f564b0d.cd34c5",
        "name": "insert into temperature",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "insert into temperature_bedroom (temperature) values ($param1)",
        "x": 667.3334045410156,
        "y": 131.05556774139404,
        "wires": [
            [
                "eb2fc448.ad19a8"
            ]
        ]
    },
    {
        "id": "eb2fc448.ad19a8",
        "type": "postgres",
        "z": "1f564b0d.cd34c5",
        "postgresdb": "6eb1c2a3.521c7c",
        "name": "",
        "output": true,
        "perrow": false,
        "outputs": 1,
        "x": 862.6943969726562,
        "y": 144.69447135925293,
        "wires": [
            []
        ]
    },
    {
        "id": "6f82a018.10df8",
        "type": "function",
        "z": "1f564b0d.cd34c5",
        "name": "setup params for insert temperature",
        "func": "msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = parseFloat(msg.payload);\nglobal.set('bedTemperature',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400.0833740234375,
        "y": 133.30556774139404,
        "wires": [
            [
                "aacaba00.2065e8"
            ]
        ]
    },
    {
        "id": "db5327c0.1216b8",
        "type": "mqtt in",
        "z": "1f564b0d.cd34c5",
        "name": "H&T Temperature IN",
        "topic": "shellies/shellyht-58EEB4/sensor/temperature",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 124.99996185302734,
        "y": 131.61115884780884,
        "wires": [
            [
                "6f82a018.10df8",
                "9285fe37.a7f53"
            ]
        ]
    },
    {
        "id": "9a12f3e5.6c90f",
        "type": "template",
        "z": "1f564b0d.cd34c5",
        "name": "insert into humidity table",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "insert into humidity_bedroom (humidity) values ($param1)",
        "x": 666.0554733276367,
        "y": 180.33337593078613,
        "wires": [
            [
                "eb2fc448.ad19a8"
            ]
        ]
    },
    {
        "id": "233bba92.92c746",
        "type": "function",
        "z": "1f564b0d.cd34c5",
        "name": "setup params for insert humidity",
        "func": "var offset=global.get('bedHumOffset');\nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = parseFloat(msg.payload-offset);\nglobal.set('bedHumidity',msg.payload-offset);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 392.8056411743164,
        "y": 182.58336448669434,
        "wires": [
            [
                "9a12f3e5.6c90f"
            ]
        ]
    },
    {
        "id": "593a9239.6836ac",
        "type": "mqtt in",
        "z": "1f564b0d.cd34c5",
        "name": "H&T Humidity IN",
        "topic": "shellies/shellyht-58EEB4/sensor/humidity",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 115.02777099609375,
        "y": 181.00002670288086,
        "wires": [
            [
                "233bba92.92c746",
                "9285fe37.a7f53"
            ]
        ]
    },
    {
        "id": "ab9377c2.b65d88",
        "type": "mqtt in",
        "z": "99e96001.113a9",
        "name": "H&T Temperature IN",
        "topic": "shellies/shellyht-58EEB4/sensor/temperature",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 142.99999237060547,
        "y": 1025.9999914169312,
        "wires": [
            [
                "b772fcd5.60aa2"
            ]
        ]
    },
    {
        "id": "69c62960.d6abb8",
        "type": "mqtt in",
        "z": "99e96001.113a9",
        "name": "H&T Humidity IN",
        "topic": "shellies/shellyht-58EEB4/sensor/humidity",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 132.2222137451172,
        "y": 1095.4444370269775,
        "wires": [
            [
                "2262d82b.8d4ce8"
            ]
        ]
    },
    {
        "id": "b772fcd5.60aa2",
        "type": "function",
        "z": "99e96001.113a9",
        "name": "Create Topic Temperature",
        "func": "msg.topic='Temperature'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 393.50000762939453,
        "y": 1024.9999914169312,
        "wires": [
            [
                "b72a2fc4.3d18c"
            ]
        ]
    },
    {
        "id": "2262d82b.8d4ce8",
        "type": "function",
        "z": "99e96001.113a9",
        "name": "Create Topic Humidity",
        "func": "msg.topic='Humidity'\nvar offset=global.get('bedHumOffset');\nmsg.payload = msg.payload - offset;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 371.00000381469727,
        "y": 1098.9999752044678,
        "wires": [
            [
                "ecaee482.280018"
            ]
        ]
    },
    {
        "id": "ecaee482.280018",
        "type": "ui_chart",
        "z": "99e96001.113a9",
        "name": "Bedroom Humidity",
        "group": "82ce3ed7.74938",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "50",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "x": 615.5000038146973,
        "y": 1099.0000457763672,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "732732a6.41e06c",
        "type": "mqtt in",
        "z": "99e96001.113a9",
        "name": "H&T Battery IN",
        "topic": "shellies/shellyht-58EEB4/sensor/battery",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 136,
        "y": 945.5999755859375,
        "wires": [
            [
                "8ce34d79.0583f"
            ]
        ]
    },
    {
        "id": "8ce34d79.0583f",
        "type": "ui_gauge",
        "z": "99e96001.113a9",
        "name": "Battery H&T",
        "group": "49693815.953628",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Battery H&T",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 363.00000381469727,
        "y": 946.5999822616577,
        "wires": []
    },
    {
        "id": "67d7a32b.4cdebc",
        "type": "function",
        "z": "e0207c67.5fe73",
        "name": "BedTemperature",
        "func": "global.set('bedTemperature','');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 378,
        "y": 167,
        "wires": [
            []
        ]
    },
    {
        "id": "6720086.c03f2f8",
        "type": "inject",
        "z": "e0207c67.5fe73",
        "name": "",
        "topic": "",
        "payload": "bedTemperature",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 165,
        "y": 167,
        "wires": [
            [
                "67d7a32b.4cdebc"
            ]
        ]
    },
    {
        "id": "86314fcf.a3881",
        "type": "function",
        "z": "e0207c67.5fe73",
        "name": "BedHumidity",
        "func": "global.set('bedHumidity','');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 362,
        "y": 221,
        "wires": [
            []
        ]
    },
    {
        "id": "42263b24.d8ac84",
        "type": "inject",
        "z": "e0207c67.5fe73",
        "name": "",
        "topic": "",
        "payload": "bedHumidity",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 139,
        "y": 221,
        "wires": [
            [
                "86314fcf.a3881"
            ]
        ]
    },
    {
        "id": "4cd6bd3b.217824",
        "type": "amazon-echo-device",
        "z": "4b279b3e.b560d4",
        "name": "Schlafzimmersensor",
        "topic": "",
        "x": 354.00000762939453,
        "y": 2675.5999422073364,
        "wires": [
            [
                "e7448f9c.c4d0e"
            ]
        ]
    },
    {
        "id": "ed038226.6912c",
        "type": "comment",
        "z": "4b279b3e.b560d4",
        "name": "H&T Bedroom Sensor",
        "info": "",
        "x": 355.6000061035156,
        "y": 2627.39990234375,
        "wires": []
    },
    {
        "id": "375ece9b.d68862",
        "type": "telegram sender",
        "z": "4b279b3e.b560d4",
        "name": "",
        "bot": "72efc60c.f74b78",
        "x": 837.9332675933838,
        "y": 2676.3999938964844,
        "wires": [
            []
        ]
    },
    {
        "id": "e7448f9c.c4d0e",
        "type": "function",
        "z": "4b279b3e.b560d4",
        "name": "create Telegram message",
        "func": "msg.payload = {\n    chatId: '390062931',\n    type: 'message',\n    content: 'Bedroom \\nTemperature: ' + global.get('bedTemperature') + '°C \\n' + 'Humidity: ' + global.get('bedHumidity') + '%'\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 610.333366394043,
        "y": 2675.7334899902344,
        "wires": [
            [
                "375ece9b.d68862"
            ]
        ]
    },
    {
        "id": "b72a2fc4.3d18c",
        "type": "ui_chart",
        "z": "99e96001.113a9",
        "name": "Bedroom Temperature",
        "group": "3ecfa11d.eb264e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "50",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "x": 646.017333984375,
        "y": 1025.7882370948792,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "de90dc13.aad05",
        "type": "function",
        "z": "99e96001.113a9",
        "name": "offset",
        "func": "var offset=global.get('bedHumOffset');\nmsg.payload = msg.payload - offset;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 313.5174026489258,
        "y": 881.3576993942261,
        "wires": [
            [
                "788bbc1b.89b774"
            ]
        ]
    },
    {
        "id": "8d5a313f.4de37",
        "type": "template",
        "z": "1f564b0d.cd34c5",
        "name": "select from humidity",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "select avg(humidity), min(humidity), max(humidity) from humidity_bedroom\nwhere date > current_date - interval '7 days'",
        "x": 575.5729026794434,
        "y": 240.34381675720215,
        "wires": [
            [
                "d5d6e360.2dd1"
            ]
        ]
    },
    {
        "id": "9285fe37.a7f53",
        "type": "function",
        "z": "1f564b0d.cd34c5",
        "name": "setup params",
        "func": "msg.queryParameters = msg.queryParameters || {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 343.3229064941406,
        "y": 304.593789100647,
        "wires": [
            [
                "8d5a313f.4de37",
                "852cbae4.6edc18"
            ]
        ]
    },
    {
        "id": "6a9a2d99.bf8794",
        "type": "ui_text",
        "z": "1f564b0d.cd34c5",
        "group": "82ce3ed7.74938",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Humidity AVG",
        "label": "AVG",
        "format": "{{msg.payload[0].avg}}",
        "layout": "row-spread",
        "x": 1011.6319732666016,
        "y": 216.1424560546875,
        "wires": []
    },
    {
        "id": "570f4577.7a291c",
        "type": "ui_text",
        "z": "1f564b0d.cd34c5",
        "group": "82ce3ed7.74938",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Humidity MIN",
        "label": "MIN",
        "format": "{{msg.payload[0].min}}",
        "layout": "row-spread",
        "x": 1008.6840362548828,
        "y": 258.34380626678467,
        "wires": []
    },
    {
        "id": "56e1bb53.1b1e94",
        "type": "ui_text",
        "z": "1f564b0d.cd34c5",
        "group": "82ce3ed7.74938",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Humidity MAX",
        "label": "MAX",
        "format": "{{msg.payload[0].max}}",
        "layout": "row-spread",
        "x": 1013.6840286254883,
        "y": 299.3438034057617,
        "wires": []
    },
    {
        "id": "852cbae4.6edc18",
        "type": "template",
        "z": "1f564b0d.cd34c5",
        "name": "select from temperature",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "select avg(temperature), min(temperature), max(temperature) from temperature_bedroom\nwhere date > current_date - interval '7 days'",
        "x": 579.572940826416,
        "y": 361.34376335144043,
        "wires": [
            [
                "d16939b1.037928"
            ]
        ]
    },
    {
        "id": "d5d6e360.2dd1",
        "type": "postgres",
        "z": "1f564b0d.cd34c5",
        "postgresdb": "6eb1c2a3.521c7c",
        "name": "",
        "output": true,
        "perrow": false,
        "outputs": 1,
        "x": 773.5729103088379,
        "y": 240.34379482269287,
        "wires": [
            [
                "6a9a2d99.bf8794",
                "570f4577.7a291c",
                "56e1bb53.1b1e94",
                "72a66095.172b9"
            ]
        ]
    },
    {
        "id": "d16939b1.037928",
        "type": "postgres",
        "z": "1f564b0d.cd34c5",
        "postgresdb": "6eb1c2a3.521c7c",
        "name": "",
        "output": true,
        "perrow": false,
        "outputs": 1,
        "x": 785.5729026794434,
        "y": 360.3437747955322,
        "wires": [
            [
                "27f228b1.0a9338",
                "f9e432b1.b8f85",
                "c64098bb.30c6c8",
                "500c320e.1d0fdc"
            ]
        ]
    },
    {
        "id": "27f228b1.0a9338",
        "type": "ui_text",
        "z": "1f564b0d.cd34c5",
        "group": "3ecfa11d.eb264e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Temperature AVG",
        "label": "AVG",
        "format": "{{msg.payload[0].avg}}",
        "layout": "row-spread",
        "x": 1022.128490447998,
        "y": 347.34374809265137,
        "wires": []
    },
    {
        "id": "f9e432b1.b8f85",
        "type": "ui_text",
        "z": "1f564b0d.cd34c5",
        "group": "3ecfa11d.eb264e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Temperature MIN",
        "label": "MIN",
        "format": "{{msg.payload[0].min}}",
        "layout": "row-spread",
        "x": 1022.128490447998,
        "y": 389.34374809265137,
        "wires": []
    },
    {
        "id": "c64098bb.30c6c8",
        "type": "ui_text",
        "z": "1f564b0d.cd34c5",
        "group": "3ecfa11d.eb264e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Temperature MAX",
        "label": "MAX:",
        "format": "{{msg.payload[0].max}}",
        "layout": "row-spread",
        "x": 1022.128490447998,
        "y": 433.34374809265137,
        "wires": []
    },
    {
        "id": "500c320e.1d0fdc",
        "type": "ui_text",
        "z": "1f564b0d.cd34c5",
        "group": "3ecfa11d.eb264e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Status from last 7 days",
        "label": "Status from last 7 days",
        "format": "",
        "layout": "row-center",
        "x": 1029.2952013015747,
        "y": 477.031268119812,
        "wires": []
    },
    {
        "id": "72a66095.172b9",
        "type": "ui_text",
        "z": "1f564b0d.cd34c5",
        "group": "82ce3ed7.74938",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Status from last 7 days",
        "label": "Status from last 7 days",
        "format": "",
        "layout": "row-center",
        "x": 1035.3021049499512,
        "y": 179.02780723571777,
        "wires": []
    },
    {
        "id": "d0a688ef.6af858",
        "type": "mqtt in",
        "z": "1f564b0d.cd34c5",
        "name": "H&T Battery IN",
        "topic": "shellies/shellyht-58EEB4/sensor/battery",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 129.11112785339355,
        "y": 1080.0000658035278,
        "wires": [
            [
                "1e77baf6.d12bf5"
            ]
        ]
    },
    {
        "id": "1f995d01.400cf3",
        "type": "mqtt in",
        "z": "1f564b0d.cd34c5",
        "name": "H&T Humidity IN",
        "topic": "shellies/shellyht-58EEB4/sensor/humidity",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 101.3333511352539,
        "y": 633.1333103179932,
        "wires": [
            [
                "d2b4eef3.9f311"
            ]
        ]
    },
    {
        "id": "e19e2895.4d9dd8",
        "type": "telegram sender",
        "z": "1f564b0d.cd34c5",
        "name": "",
        "bot": "72efc60c.f74b78",
        "x": 689.8888740539551,
        "y": 1082.2225270271301,
        "wires": [
            []
        ]
    },
    {
        "id": "1e77baf6.d12bf5",
        "type": "function",
        "z": "1f564b0d.cd34c5",
        "name": "Check Battery state",
        "func": "const batteryState = msg.payload;\nmsg.payload = {};\nif (batteryState  == 10)\n{\n    msg.payload = {\n        chatId: '390062931',\n        type: 'message',\n        content: 'Battery of Bedroom H&T sensor less then ' + batteryState + '%'\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 351.28891944885254,
        "y": 1080.2223320007324,
        "wires": [
            [
                "3a4e963c.4caf7a"
            ]
        ]
    },
    {
        "id": "d2b4eef3.9f311",
        "type": "function",
        "z": "1f564b0d.cd34c5",
        "name": "Send Humidity warning",
        "func": "var dehumState=global.get('dehumState');\nvar humidityValue =  global.get('bedHumidity');\nmsg.payload = {};\nif (humidityValue >= 60 && dehumState == 'off')\n{\n    msg.payload = {\n        chatId: '390062931',\n        type: 'message',\n        content: 'Humidity: ' +  humidityValue + '%. Dehumidifier started.',\n        action: true\n    }\n}\nif (humidityValue <= 50 && dehumState == 'on')\n{\n    msg.payload = {\n       action: false\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 435.79522705078125,
        "y": 632.5661582946777,
        "wires": [
            [
                "727b8d3b.aa1a34"
            ]
        ]
    },
    {
        "id": "727b8d3b.aa1a34",
        "type": "switch",
        "z": "1f564b0d.cd34c5",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 612.9722747802734,
        "y": 629.5835905075073,
        "wires": [
            [
                "2cc71e8e.02bb42"
            ],
            [
                "739e6086.010b3"
            ]
        ]
    },
    {
        "id": "3a4e963c.4caf7a",
        "type": "switch",
        "z": "1f564b0d.cd34c5",
        "name": "",
        "property": "payload.chatId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 524.4063053131104,
        "y": 1082.1425457000732,
        "wires": [
            [
                "e19e2895.4d9dd8"
            ]
        ]
    },
    {
        "id": "1336744c.ce083c",
        "type": "mqtt out",
        "z": "1f564b0d.cd34c5",
        "name": "Dehumidifier OUT",
        "topic": "shellies/shelly1-B9DD3A/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 1225.777946472168,
        "y": 617.3557949066162,
        "wires": []
    },
    {
        "id": "38476a23.46f266",
        "type": "function",
        "z": "1f564b0d.cd34c5",
        "name": "create state for shelly",
        "func": "if (msg.payload) {\n    msg.payload = 'on';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1006.6111450195312,
        "y": 617.0222988128662,
        "wires": [
            [
                "1336744c.ce083c"
            ]
        ]
    },
    {
        "id": "89e2f150.c48bf",
        "type": "comment",
        "z": "1f564b0d.cd34c5",
        "name": "Humidity and Temperature To and From Postgres DB",
        "info": "",
        "x": 213.05555725097656,
        "y": 55.555564880371094,
        "wires": []
    },
    {
        "id": "92f570ea.f2dd2",
        "type": "comment",
        "z": "1f564b0d.cd34c5",
        "name": "H&T Battery Notification",
        "info": "",
        "x": 136.99999809265137,
        "y": 1038.1110696792603,
        "wires": []
    },
    {
        "id": "3ef9d1a6.2e348e",
        "type": "function",
        "z": "e0207c67.5fe73",
        "name": "BedHumidityOffset",
        "func": "global.set('bedHumOffset',10);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 379.33331298828125,
        "y": 348.00000381469727,
        "wires": [
            []
        ]
    },
    {
        "id": "5c1f1c1b.0190e4",
        "type": "inject",
        "z": "e0207c67.5fe73",
        "name": "",
        "topic": "",
        "payload": "bedHumOffset",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 146.33331298828125,
        "y": 348.00000381469727,
        "wires": [
            [
                "3ef9d1a6.2e348e"
            ]
        ]
    },
    {
        "id": "394c1073.18b48",
        "type": "comment",
        "z": "1f564b0d.cd34c5",
        "name": "select",
        "info": "",
        "x": 319.44441986083984,
        "y": 265.55559730529785,
        "wires": []
    },
    {
        "id": "60286bfa.655374",
        "type": "comment",
        "z": "1f564b0d.cd34c5",
        "name": "insert",
        "info": "",
        "x": 308.5555725097656,
        "y": 94.6666841506958,
        "wires": []
    },
    {
        "id": "2cc71e8e.02bb42",
        "type": "time-range-switch",
        "z": "1f564b0d.cd34c5",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "09:00",
        "endTime": "20:30",
        "startOffset": "-60",
        "endOffset": "-60",
        "x": 777.1000595092773,
        "y": 624.1999969482422,
        "wires": [
            [
                "739e6086.010b3",
                "36e46cfe.38d654",
                "38476a23.46f266"
            ],
            []
        ]
    },
    {
        "id": "fea80488.e951f8",
        "type": "function",
        "z": "1f564b0d.cd34c5",
        "name": "create state for shelly",
        "func": "if (msg.payload) {\n    msg.payload = 'off';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1666.8003425598145,
        "y": 781.000048160553,
        "wires": [
            [
                "5017d34d.29b15c"
            ]
        ]
    },
    {
        "id": "c6ce6a0e.b41628",
        "type": "mqtt in",
        "z": "1f564b0d.cd34c5",
        "name": "Dehumidifier IN",
        "topic": "shellies/shelly1-B9DD3A/relay/0",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 104.5,
        "y": 919.4000873565674,
        "wires": [
            [
                "e76aab69.695b08"
            ]
        ]
    },
    {
        "id": "53a32f76.3bf8f",
        "type": "telegram sender",
        "z": "1f564b0d.cd34c5",
        "name": "",
        "bot": "72efc60c.f74b78",
        "x": 1914.0004653930664,
        "y": 633.3999483585358,
        "wires": [
            []
        ]
    },
    {
        "id": "2e48f6ad.a3b15a",
        "type": "function",
        "z": "e0207c67.5fe73",
        "name": "BedHumidity",
        "func": "global.set('dehumState','');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 386.00000381469727,
        "y": 293.00000381469727,
        "wires": [
            []
        ]
    },
    {
        "id": "bc62a46d.7c5278",
        "type": "inject",
        "z": "e0207c67.5fe73",
        "name": "",
        "topic": "",
        "payload": "dehumState",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 136,
        "y": 293,
        "wires": [
            [
                "2e48f6ad.a3b15a"
            ]
        ]
    },
    {
        "id": "e76aab69.695b08",
        "type": "function",
        "z": "1f564b0d.cd34c5",
        "name": "get dehumidifier state",
        "func": "global.set('dehumState',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 920.0000991821289,
        "wires": [
            []
        ]
    },
    {
        "id": "ca283138.8cc93",
        "type": "inject",
        "z": "1f564b0d.cd34c5",
        "name": "Stop Dehumidifier",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "35 19 * * *",
        "once": false,
        "x": 587.1000442504883,
        "y": 734.3999485969543,
        "wires": [
            [
                "739e6086.010b3"
            ]
        ]
    },
    {
        "id": "c5b11097.1d807",
        "type": "comment",
        "z": "1f564b0d.cd34c5",
        "name": "Save Dehumidifier State",
        "info": "",
        "x": 131,
        "y": 870.8000507354736,
        "wires": []
    },
    {
        "id": "91c92758.c79018",
        "type": "comment",
        "z": "1f564b0d.cd34c5",
        "name": "Stop Dehumidifier periodically",
        "info": "",
        "x": 592.4999542236328,
        "y": 687.7998638153076,
        "wires": []
    },
    {
        "id": "739e6086.010b3",
        "type": "interval-length",
        "z": "1f564b0d.cd34c5",
        "format": "human",
        "bytopic": false,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": false,
        "startup": false,
        "msgField": "payload",
        "timestampField": "timestamp",
        "repeatTimeout": false,
        "name": "run time",
        "x": 935.5001106262207,
        "y": 735.6001567840576,
        "wires": [
            [
                "c376fc56.2027b"
            ],
            []
        ]
    },
    {
        "id": "1b3893ff.f161dc",
        "type": "function",
        "z": "1f564b0d.cd34c5",
        "name": "crete telegram message",
        "func": "var time = msg.payload.interval;\nvar humidity = global.get('bedHumidity');\nmsg.payload = {};\nif (humidity >= 50)\n{\n    msg.payload = {\n    chatId: '390062931',\n    type: 'message',\n    content: 'Humidity: ' + humidity  + '%. Dehumidifier stopped to earlie because of bedtime. Run time: ' + time\n    }\n}\nmsg.payload = {\nchatId: '390062931',\ntype: 'message',\ncontent: 'Humidity: ' + humidity  + '%. Dehumidifier stopped after ' + time\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1687.3000793457031,
        "y": 634.6001436710358,
        "wires": [
            [
                "53a32f76.3bf8f"
            ]
        ]
    },
    {
        "id": "36e46cfe.38d654",
        "type": "telegram sender",
        "z": "1f564b0d.cd34c5",
        "name": "",
        "bot": "72efc60c.f74b78",
        "x": 1002.7999877929688,
        "y": 654.6000804901123,
        "wires": [
            []
        ]
    },
    {
        "id": "b27d75f9.e32608",
        "type": "inject",
        "z": "1f564b0d.cd34c5",
        "name": "Start Dehumidifier",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "05 08 * * *",
        "once": false,
        "x": 139,
        "y": 730.0000104904175,
        "wires": [
            [
                "d2b4eef3.9f311"
            ]
        ]
    },
    {
        "id": "5716261d.404e78",
        "type": "ui_text",
        "z": "1f564b0d.cd34c5",
        "group": "bec7ad3a.a6778",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "last run time",
        "label": "Last run time",
        "format": "{{msg.payload.interval}} - {{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1638.5002670288086,
        "y": 733.1999492645264,
        "wires": []
    },
    {
        "id": "5ccc96e6.5f8568",
        "type": "mqtt in",
        "z": "99e96001.113a9",
        "name": "Dehumidifier IN",
        "topic": "shellies/shelly1-B9DD3A/relay/0",
        "qos": "2",
        "broker": "b7fc869.1c84e78",
        "x": 141,
        "y": 1257.4000244140625,
        "wires": [
            [
                "6d25a590.62641c"
            ]
        ]
    },
    {
        "id": "c572111d.bbd39",
        "type": "comment",
        "z": "99e96001.113a9",
        "name": "Dehumidifier",
        "info": "",
        "x": 122,
        "y": 1204.4000244140625,
        "wires": []
    },
    {
        "id": "1723b950.168a67",
        "type": "template",
        "z": "1f564b0d.cd34c5",
        "name": "insert into temperature",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "insert into dehumidifier (run_time) values ($param1)",
        "x": 1955.0002746582031,
        "y": 686.9999980926514,
        "wires": [
            [
                "fe2de155.657ff"
            ]
        ]
    },
    {
        "id": "fe2de155.657ff",
        "type": "postgres",
        "z": "1f564b0d.cd34c5",
        "postgresdb": "6eb1c2a3.521c7c",
        "name": "",
        "output": true,
        "perrow": false,
        "outputs": 1,
        "x": 2135.3614082336426,
        "y": 686.6389617919922,
        "wires": [
            []
        ]
    },
    {
        "id": "ae4b9c8.ca4606",
        "type": "function",
        "z": "1f564b0d.cd34c5",
        "name": "setup params for insert run time",
        "func": "msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = msg.payload.interval;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1700.7501678466797,
        "y": 687.2499980926514,
        "wires": [
            [
                "1723b950.168a67"
            ]
        ]
    },
    {
        "id": "c376fc56.2027b",
        "type": "function",
        "z": "1f564b0d.cd34c5",
        "name": "get dehumstate",
        "func": "var time = msg.payload;\nvar date = new Date().toISOString().slice(0,10);\nmsg.payload = {};\nmsg.payload = {\n    interval: time,\n    dehumState: global.get('dehumState'),\n    date: date\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1160.1002731323242,
        "y": 730.6002173423767,
        "wires": [
            [
                "27efdc2b.144d34"
            ]
        ]
    },
    {
        "id": "27efdc2b.144d34",
        "type": "switch",
        "z": "1f564b0d.cd34c5",
        "name": "check dehumstate",
        "property": "payload.dehumState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1354.100154876709,
        "y": 730.6001915931702,
        "wires": [
            [
                "1b3893ff.f161dc",
                "ae4b9c8.ca4606",
                "5716261d.404e78",
                "fea80488.e951f8"
            ]
        ]
    },
    {
        "id": "92565edb.f7967",
        "type": "comment",
        "z": "1f564b0d.cd34c5",
        "name": "needed because injection is made by the time range function",
        "info": "",
        "x": 1256.5000305175781,
        "y": 693.6001319885254,
        "wires": []
    },
    {
        "id": "6d25a590.62641c",
        "type": "ui_text",
        "z": "99e96001.113a9",
        "group": "bec7ad3a.a6778",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 319.10000228881836,
        "y": 1260.2001399993896,
        "wires": []
    },
    {
        "id": "88cac95f.687d98",
        "type": "comment",
        "z": "1f564b0d.cd34c5",
        "name": "Start Dehumidifier periodically",
        "info": "",
        "x": 136.99999237060547,
        "y": 686.8000106811523,
        "wires": []
    },
    {
        "id": "5017d34d.29b15c",
        "type": "mqtt out",
        "z": "1f564b0d.cd34c5",
        "name": "Dehumidifier OUT",
        "topic": "shellies/shelly1-B9DD3A/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "b7fc869.1c84e78",
        "x": 1893.8004684448242,
        "y": 781.3999500274658,
        "wires": []
    },
    {
        "id": "528191ec.72ee8",
        "type": "comment",
        "z": "1f564b0d.cd34c5",
        "name": "Dehumidifier Logic",
        "info": "",
        "x": 111,
        "y": 577,
        "wires": []
    }
]