Node-RED/smartHome.json
[
    {
        "id": "f387a27c.808d3",
        "type": "tab",
        "label": "GLOBAL"
    },
    {
        "id": "9bfc0359.871c9",
        "type": "tab",
        "label": "Alexa Commands"
    },
    {
        "id": "7dbbdbf3.365084",
        "type": "tab",
        "label": "Dashboard States"
    },
    {
        "id": "9f53e779.d130a8",
        "type": "tab",
        "label": "Dashboard History",
        "disabled": false,
        "info": ""
    },
    {
        "id": "14dd6c8.d5f3494",
        "type": "tab",
        "label": "Postgres DB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8ae7b656.b0c538",
        "type": "tab",
        "label": "Dehumidifier",
        "disabled": false,
        "info": ""
    },
    {
        "id": "20687cba.1c3764",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#ff8040",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#3799aa",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#3799aa",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#3799aa",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#c8c8c8",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#61bccc",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#3799aa",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Smart Home",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b1ec29cf.e84df8",
        "type": "ui_tab",
        "z": "",
        "name": "Smart Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a4375fdd.d3a7c",
        "type": "ui_group",
        "z": "",
        "name": "Lights & Plugs",
        "tab": "b1ec29cf.e84df8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "807503c.b0528",
        "type": "ui_group",
        "z": "",
        "name": "Lifespan",
        "tab": "b1ec29cf.e84df8",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bacb1987.c1aa28",
        "type": "postgresdb",
        "z": "",
        "hostname": "localhost",
        "port": "5432",
        "db": "smarthome",
        "ssl": false
    },
    {
        "id": "3d3d8fed.cc3ab",
        "type": "telegram bot",
        "z": "",
        "botname": "MySmartHome",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "verboselogging": false
    },
    {
        "id": "3d318576.51704a",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "b1ec29cf.e84df8",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "42efb286.84806c",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "b1ec29cf.e84df8",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "d155d55d.4664c8",
        "type": "ui_group",
        "z": "",
        "name": "Dehumidifier",
        "tab": "b1ec29cf.e84df8",
        "order": 5,
        "disp": true,
        "width": 6
    },
    {
        "id": "2aba1eb9.69a842",
        "type": "mqtt-broker",
        "z": "",
        "name": "SmartHome MQTT",
        "broker": "192.168.0.150",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bb3e4354.f2de7",
        "type": "ui_group",
        "z": "",
        "name": "Pressure",
        "tab": "b1ec29cf.e84df8",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "95895f33.f7ce9",
        "type": "ui_tab",
        "z": "",
        "name": "History",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1190da66.7981e6",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "95895f33.f7ce9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "79846c2f.e66d64",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "95895f33.f7ce9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b82cd984.91e4e8",
        "type": "ui_group",
        "z": "",
        "name": "Pressure",
        "tab": "95895f33.f7ce9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4f82fdb9.222414",
        "type": "amazon-echo-hub",
        "z": "9bfc0359.871c9",
        "port": "80",
        "x": 112.5,
        "y": 1071.0000162124634,
        "wires": [
            [
                "40e611bd.22063",
                "e039f50f.01c6c8",
                "54a3d62.d77cc28",
                "dd70e66b.f604d8",
                "cc7c14f4.849af8",
                "9537d359.0d72b",
                "5719257e.b2b08c",
                "5ec97954.28b088",
                "75771b89.0c5934",
                "1cec15e0.5e87aa",
                "11d5b744.b19569",
                "f50a44cf.00c058",
                "f5f8ab64.000618",
                "7a3d1af6.25ad14",
                "44087d44.f23024",
                "ea534a02.e68c88",
                "ee3619f2.485b08",
                "9bc9a3c3.acec1",
                "784d926b.7d63bc"
            ]
        ]
    },
    {
        "id": "40e611bd.22063",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Wohnzimmer Licht",
        "topic": "",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "d834a5ae.c86768"
            ]
        ]
    },
    {
        "id": "d834a5ae.c86768",
        "type": "mqtt out",
        "z": "9bfc0359.871c9",
        "name": "Living Room Light OUT",
        "topic": "shellies/shelly1-B9CFBD/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "465a87bd.caa558",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "DreamboxIP",
        "func": "global.set('dreamboxip','http://192.168.0.199');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2112417f.d7464e",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "dreamboxip",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "465a87bd.caa558"
            ]
        ]
    },
    {
        "id": "e039f50f.01c6c8",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Küche Licht",
        "topic": "",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "559df12a.16adf"
            ]
        ]
    },
    {
        "id": "559df12a.16adf",
        "type": "mqtt out",
        "z": "9bfc0359.871c9",
        "name": "Kitchen Room Light OUT",
        "topic": "shellies/shelly1-76F642/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "54a3d62.d77cc28",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Badezimmer Licht",
        "topic": "",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "ef042d7f.b88e8"
            ]
        ]
    },
    {
        "id": "ef042d7f.b88e8",
        "type": "mqtt out",
        "z": "9bfc0359.871c9",
        "name": "Bathroom Light OUT",
        "topic": "shellies/shelly1-B9D598/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "83bd0ad4.632298",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 1350,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "6b24220f.cf438c",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for Standby",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=116';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 820,
        "wires": [
            [
                "83bd0ad4.632298"
            ]
        ]
    },
    {
        "id": "dd70e66b.f604d8",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Dreambox",
        "topic": "",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "81f6f220.05e62",
                "e11bb6d9.3a92d8"
            ]
        ]
    },
    {
        "id": "cc7c14f4.849af8",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Sound",
        "topic": "",
        "x": 330,
        "y": 880,
        "wires": [
            [
                "a1560361.149c9"
            ]
        ]
    },
    {
        "id": "a1560361.149c9",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL with Volume",
        "func": "var ip=global.get('dreamboxip');\nvar value;\nif(msg.payload === \"on\"){\n    value = 80;\n}\nif (msg.payload === \"off\"){\n    value = 40;\n}\n\nmsg.url = ip + '/web/vol?set=set' + value;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 880,
        "wires": [
            [
                "983099ea.9d40e8"
            ]
        ]
    },
    {
        "id": "983099ea.9d40e8",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 770,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "9537d359.0d72b",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Recording",
        "topic": "",
        "x": 350,
        "y": 940,
        "wires": [
            [
                "ce5ab3fb.cf802"
            ]
        ]
    },
    {
        "id": "7f4b1ee5.195ac",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for Recording Start",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=167';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 940,
        "wires": [
            [
                "27bb7b9c.67ca84"
            ]
        ]
    },
    {
        "id": "27bb7b9c.67ca84",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 970,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "46e6b43c.e713ac",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for OK",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=352';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 1000,
        "wires": [
            [
                "a8035193.1559c"
            ]
        ]
    },
    {
        "id": "a8035193.1559c",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1070,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "9b9716eb.497118",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "46e6b43c.e713ac"
            ]
        ]
    },
    {
        "id": "ce5ab3fb.cf802",
        "type": "switch",
        "z": "9bfc0359.871c9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 510,
        "y": 940,
        "wires": [
            [
                "7f4b1ee5.195ac",
                "9b9716eb.497118"
            ],
            [
                "b48a81c2.d9918",
                "5f3e7080.c7b91",
                "7feeb144.01e95"
            ]
        ]
    },
    {
        "id": "b48a81c2.d9918",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for Recording Stop",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=167';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 1060,
        "wires": [
            [
                "eaece320.8eebd"
            ]
        ]
    },
    {
        "id": "eaece320.8eebd",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 950,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "d9e1890f.35a838",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for OK",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=352';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 1120,
        "wires": [
            [
                "c6cc8deb.bd305"
            ]
        ]
    },
    {
        "id": "c6cc8deb.bd305",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1050,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "5f3e7080.c7b91",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 1120,
        "wires": [
            [
                "d9e1890f.35a838"
            ]
        ]
    },
    {
        "id": "2ef75b6e.dcde74",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for OK",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=352';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 1180,
        "wires": [
            [
                "f0d96902.301a98"
            ]
        ]
    },
    {
        "id": "f0d96902.301a98",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1070,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "7feeb144.01e95",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 670,
        "y": 1180,
        "wires": [
            [
                "2ef75b6e.dcde74"
            ]
        ]
    },
    {
        "id": "c8acae8f.6db5e",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 910,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "20b11b30.c60dc4",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for Info",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=358';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 1240,
        "wires": [
            [
                "c8acae8f.6db5e"
            ]
        ]
    },
    {
        "id": "5719257e.b2b08c",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Senderinfo",
        "topic": "",
        "x": 350.83338928222656,
        "y": 1252.833411693573,
        "wires": [
            [
                "39057e9e.21f092"
            ]
        ]
    },
    {
        "id": "39057e9e.21f092",
        "type": "switch",
        "z": "9bfc0359.871c9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 495.33335876464844,
        "y": 1254.3334527015686,
        "wires": [
            [
                "20b11b30.c60dc4"
            ],
            [
                "786ba42d.7725ec"
            ]
        ]
    },
    {
        "id": "786ba42d.7725ec",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL with Exit",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=174';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 1280,
        "wires": [
            [
                "9e3748e8.258d78"
            ]
        ]
    },
    {
        "id": "9e3748e8.258d78",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 910,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "4369ff29.75c62",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 910,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "b46340d2.c6d",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for PVR",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=393';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 1380,
        "wires": [
            [
                "4369ff29.75c62"
            ]
        ]
    },
    {
        "id": "5ec97954.28b088",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Filme",
        "topic": "",
        "x": 330,
        "y": 1400,
        "wires": [
            [
                "22ecb791.6b09e8"
            ]
        ]
    },
    {
        "id": "22ecb791.6b09e8",
        "type": "switch",
        "z": "9bfc0359.871c9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 510,
        "y": 1400,
        "wires": [
            [
                "b46340d2.c6d"
            ],
            [
                "69dd562c.877088"
            ]
        ]
    },
    {
        "id": "69dd562c.877088",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL with Exit",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=174';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 1420,
        "wires": [
            [
                "d8eafd27.dd873"
            ]
        ]
    },
    {
        "id": "d8eafd27.dd873",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 910,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "75771b89.0c5934",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Filmwiedergabe",
        "topic": "",
        "x": 360,
        "y": 1540,
        "wires": [
            [
                "26aadd17.482ff2"
            ]
        ]
    },
    {
        "id": "26aadd17.482ff2",
        "type": "switch",
        "z": "9bfc0359.871c9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 530,
        "y": 1540,
        "wires": [
            [],
            [
                "a9ceaff4.7cb26",
                "d924b9a6.447a08"
            ]
        ]
    },
    {
        "id": "a9ceaff4.7cb26",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL with MovieStop",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=128';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1520,
        "wires": [
            [
                "7abb53ec.4411cc"
            ]
        ]
    },
    {
        "id": "7abb53ec.4411cc",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 970,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "41bd7726.5007b8",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL with Exit",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=174';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 1560,
        "wires": [
            [
                "4b9704e1.d6e46c"
            ]
        ]
    },
    {
        "id": "4b9704e1.d6e46c",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 1150,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "d924b9a6.447a08",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 710,
        "y": 1560,
        "wires": [
            [
                "41bd7726.5007b8"
            ]
        ]
    },
    {
        "id": "61889be7.1556f4",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 770,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "92d94e55.57876",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for Pause",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=207';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1660,
        "wires": [
            [
                "61889be7.1556f4"
            ]
        ]
    },
    {
        "id": "1cec15e0.5e87aa",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Pause",
        "topic": "",
        "x": 330,
        "y": 1660,
        "wires": [
            [
                "92d94e55.57876"
            ]
        ]
    },
    {
        "id": "81f6f220.05e62",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL Statusinfo",
        "func": "msg.action = msg.payload;\n\nvar ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/statusinfo';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 760,
        "wires": [
            [
                "4aebb34.6375f4c"
            ]
        ]
    },
    {
        "id": "4aebb34.6375f4c",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 810,
        "y": 760,
        "wires": [
            [
                "a5338041.31e4"
            ]
        ]
    },
    {
        "id": "a5338041.31e4",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create inStandy Value",
        "func": "if (msg.action === 'on' && msg.payload.inStandby === 'false')\n{\n    global.set('inStandby','on_false');\n}\nif (msg.action === 'on' && msg.payload.inStandby === 'true')\n{\n    global.set('inStandby','on_true');\n}\nif (msg.action === 'off' && msg.payload.inStandby === 'false')\n{\n    global.set('inStandby','off_true');\n}\nif (msg.action === 'off' && msg.payload.inStandby === 'true')\n{\n    global.set('inStandby','off_false');\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "28a5a713.48f358",
        "type": "switch",
        "z": "9bfc0359.871c9",
        "name": "",
        "property": "inStandby",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "on_true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on_false",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 910,
        "y": 820,
        "wires": [
            [
                "6b24220f.cf438c"
            ],
            [],
            [
                "6b24220f.cf438c"
            ],
            []
        ]
    },
    {
        "id": "e11bb6d9.3a92d8",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 820,
        "wires": [
            [
                "28a5a713.48f358"
            ]
        ]
    },
    {
        "id": "56a4d33e.dea74c",
        "type": "comment",
        "z": "7dbbdbf3.365084",
        "name": "Lights",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "9d8bde54.cc351",
        "type": "comment",
        "z": "7dbbdbf3.365084",
        "name": "Home Cinema",
        "info": "",
        "x": 130,
        "y": 480,
        "wires": []
    },
    {
        "id": "27c723da.a8cedc",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "Bathroom Light IN",
        "topic": "shellies/shelly1-B9D598/relay/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "345c2877.6139e8"
            ]
        ]
    },
    {
        "id": "28d1c726.11fd38",
        "type": "mqtt out",
        "z": "7dbbdbf3.365084",
        "name": "Bathroom Light OUT",
        "topic": "shellies/shelly1-B9D598/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "345c2877.6139e8",
        "type": "ui_switch",
        "z": "7dbbdbf3.365084",
        "name": "",
        "label": "Badezimmer",
        "tooltip": "",
        "group": "a4375fdd.d3a7c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "28d1c726.11fd38"
            ]
        ]
    },
    {
        "id": "58d70e89.5d081",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "Kitchen Room Light IN",
        "topic": "shellies/shelly1-76F642/relay/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "3e9f5496.7f1e0c"
            ]
        ]
    },
    {
        "id": "2c96be81.0ec592",
        "type": "mqtt out",
        "z": "7dbbdbf3.365084",
        "name": "Kitchen Room Light OUT",
        "topic": "shellies/shelly1-76F642/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "3e9f5496.7f1e0c",
        "type": "ui_switch",
        "z": "7dbbdbf3.365084",
        "name": "",
        "label": "Küche",
        "tooltip": "",
        "group": "a4375fdd.d3a7c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "2c96be81.0ec592"
            ]
        ]
    },
    {
        "id": "4397bea3.f923b",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "Living Room Light IN",
        "topic": "shellies/shelly1-B9CFBD/relay/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "f2a66d66.98512"
            ]
        ]
    },
    {
        "id": "27488ff.f64427",
        "type": "mqtt out",
        "z": "7dbbdbf3.365084",
        "name": "Living Room Light OUT",
        "topic": "shellies/shelly1-B9CFBD/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "f2a66d66.98512",
        "type": "ui_switch",
        "z": "7dbbdbf3.365084",
        "name": "",
        "label": "Wohnzimmer",
        "tooltip": "",
        "group": "a4375fdd.d3a7c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "27488ff.f64427"
            ]
        ]
    },
    {
        "id": "b9818492.ecb128",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 560,
        "y": 1840,
        "wires": [
            [
                "5f249e75.6d47b"
            ]
        ]
    },
    {
        "id": "593d0c24.dc43c4",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 560,
        "y": 1800,
        "wires": [
            [
                "5b087b43.496ce4"
            ]
        ]
    },
    {
        "id": "10e83fe1.98a5f",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 560,
        "y": 1940,
        "wires": [
            [
                "a57ea2bb.9a458"
            ]
        ]
    },
    {
        "id": "deb0dd2e.ece32",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 560,
        "y": 1900,
        "wires": [
            [
                "5b087b43.496ce4"
            ]
        ]
    },
    {
        "id": "ca9d2609.c0aa88",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 2160,
        "wires": [
            [
                "cd80d05d.29df5"
            ]
        ]
    },
    {
        "id": "7aa97cdd.8e7234",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 2120,
        "wires": [
            [
                "cd80d05d.29df5"
            ]
        ]
    },
    {
        "id": "11d5b744.b19569",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "HomeSkyCinema",
        "topic": "",
        "x": 370.24600764683316,
        "y": 2132.8574244635447,
        "wires": [
            [
                "7aa97cdd.8e7234",
                "ca9d2609.c0aa88",
                "574fe08e.bf9f3"
            ]
        ]
    },
    {
        "id": "b3df39b1.93afe8",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 560,
        "y": 2040,
        "wires": [
            [
                "c03c386b.02efe8"
            ]
        ]
    },
    {
        "id": "b43efc2c.b408e",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 560,
        "y": 2000,
        "wires": [
            [
                "5b087b43.496ce4"
            ]
        ]
    },
    {
        "id": "2378da79.fa33a6",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 2300,
        "wires": [
            [
                "a57ea2bb.9a458"
            ]
        ]
    },
    {
        "id": "b10832f6.011e9",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 2260,
        "wires": [
            [
                "cd80d05d.29df5"
            ]
        ]
    },
    {
        "id": "f50a44cf.00c058",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "HomeSkyAction",
        "topic": "",
        "x": 360,
        "y": 2280,
        "wires": [
            [
                "b10832f6.011e9",
                "2378da79.fa33a6",
                "574fe08e.bf9f3"
            ]
        ]
    },
    {
        "id": "f5f8ab64.000618",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "HomeTelevision",
        "topic": "",
        "x": 360,
        "y": 1920,
        "wires": [
            [
                "deb0dd2e.ece32",
                "10e83fe1.98a5f",
                "6a7985cc.0e6dbc"
            ]
        ]
    },
    {
        "id": "7a3d1af6.25ad14",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "HomeSatEins",
        "topic": "",
        "x": 360,
        "y": 2020,
        "wires": [
            [
                "b43efc2c.b408e",
                "b3df39b1.93afe8",
                "6a7985cc.0e6dbc"
            ]
        ]
    },
    {
        "id": "6a7985cc.0e6dbc",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 1 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=2';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 924.8810424804688,
        "y": 1966.50794506073,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "574fe08e.bf9f3",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 2 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=3';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 924.8810920715332,
        "y": 2006.507926940918,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "b4b4f113.5060c",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 3 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=4';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 928.5318832397461,
        "y": 2044.7618861198425,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "cd80d05d.29df5",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 4 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=5';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 929.1667633056641,
        "y": 2082.222264289856,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "38dd0484.9955bc",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 5 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=6';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 929.1667022705078,
        "y": 2117.936532020569,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "c03c386b.02efe8",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 6 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=7';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 929.1668586730957,
        "y": 2155.079300880432,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "a57ea2bb.9a458",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 7 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=8';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 926.3097534179688,
        "y": 2195.07931804657,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "5f249e75.6d47b",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 8 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=9';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 926.3096313476562,
        "y": 2235.0793867111206,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "5b087b43.496ce4",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for 9 key",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/remotecontrol?command=10';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 926.3097152709961,
        "y": 2273.650866508484,
        "wires": [
            [
                "bd1b6972.b20118"
            ]
        ]
    },
    {
        "id": "bd1b6972.b20118",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 1233.452480316162,
        "y": 2110.7936220169067,
        "wires": [
            []
        ]
    },
    {
        "id": "44087d44.f23024",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "HomePro",
        "topic": "",
        "x": 340,
        "y": 1820,
        "wires": [
            [
                "6a7985cc.0e6dbc",
                "593d0c24.dc43c4",
                "b9818492.ecb128"
            ]
        ]
    },
    {
        "id": "84752832.3c2e98",
        "type": "comment",
        "z": "9bfc0359.871c9",
        "name": "Dreambox Channels",
        "info": "",
        "x": 370,
        "y": 1760,
        "wires": []
    },
    {
        "id": "c67118a2.f9b9c8",
        "type": "comment",
        "z": "9bfc0359.871c9",
        "name": "Lights",
        "info": "",
        "x": 331.5,
        "y": 34,
        "wires": []
    },
    {
        "id": "424bde01.5d536",
        "type": "comment",
        "z": "9bfc0359.871c9",
        "name": "Dreambox Commands",
        "info": "",
        "x": 380,
        "y": 720,
        "wires": []
    },
    {
        "id": "a9708e5a.eaa55",
        "type": "mqtt out",
        "z": "9bfc0359.871c9",
        "name": "HeimKino OUT",
        "topic": "cmnd/sonoff_homecinema/power",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "ea534a02.e68c88",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "HeimKino",
        "topic": "",
        "x": 340,
        "y": 460,
        "wires": [
            [
                "7f51712d.e1a24"
            ]
        ]
    },
    {
        "id": "f3c4d561.da9c48",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "HomeCinema IN",
        "topic": "cmnd/sonoff_homecinema/power",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 140.00001907348633,
        "y": 525.7142667770386,
        "wires": [
            [
                "8ca84381.f3df2"
            ]
        ]
    },
    {
        "id": "bfacf34c.b714c",
        "type": "mqtt out",
        "z": "7dbbdbf3.365084",
        "name": "HomeCinema OUT",
        "topic": "cmnd/sonoff_homecinema/power",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 950,
        "y": 520,
        "wires": []
    },
    {
        "id": "8ca84381.f3df2",
        "type": "ui_switch",
        "z": "7dbbdbf3.365084",
        "name": "",
        "label": "Home Cinema",
        "tooltip": "",
        "group": "a4375fdd.d3a7c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 360.0000190734863,
        "y": 525.7142667770386,
        "wires": [
            [
                "4bbf3aaf.6a16d4"
            ]
        ]
    },
    {
        "id": "9b851951.67db58",
        "type": "comment",
        "z": "9bfc0359.871c9",
        "name": "Plugs",
        "info": "",
        "x": 330,
        "y": 420,
        "wires": []
    },
    {
        "id": "ee3619f2.485b08",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Schlafzimmer Licht",
        "topic": "",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "b9139199.88442"
            ]
        ]
    },
    {
        "id": "b9139199.88442",
        "type": "mqtt out",
        "z": "9bfc0359.871c9",
        "name": "Bedroom Light OUT",
        "topic": "shellies/shelly1-944E49/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "fc558756.e3f378",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "Bed Room Light IN",
        "topic": "shellies/shelly1-944E49/relay/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "baeb5b0c.b5ceb8"
            ]
        ]
    },
    {
        "id": "c0869f0b.c0d01",
        "type": "mqtt out",
        "z": "7dbbdbf3.365084",
        "name": "Living Room Light OUT",
        "topic": "shellies/shelly1-944E49/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "baeb5b0c.b5ceb8",
        "type": "ui_switch",
        "z": "7dbbdbf3.365084",
        "name": "",
        "label": "Schlafzimmer",
        "tooltip": "",
        "group": "a4375fdd.d3a7c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "c0869f0b.c0d01"
            ]
        ]
    },
    {
        "id": "9bc9a3c3.acec1",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Bett Licht",
        "topic": "",
        "x": 340,
        "y": 600,
        "wires": [
            [
                "dca405fb.3136f8"
            ]
        ]
    },
    {
        "id": "dca405fb.3136f8",
        "type": "mqtt out",
        "z": "9bfc0359.871c9",
        "name": "Bed Light OUT",
        "topic": "cmnd/sonoff_bedlight/power",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "5e7a1c32.d0b8f4",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "BedLight IN",
        "topic": "cmnd/sonoff_bedlight/power",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "c6ca3f6f.6fe7"
            ]
        ]
    },
    {
        "id": "2f2b435c.bb0c8c",
        "type": "mqtt out",
        "z": "7dbbdbf3.365084",
        "name": "Bed Light OUT",
        "topic": "cmnd/sonoff_bedlight/power",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "c6ca3f6f.6fe7",
        "type": "ui_switch",
        "z": "7dbbdbf3.365084",
        "name": "",
        "label": "Bett Licht",
        "tooltip": "",
        "group": "a4375fdd.d3a7c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "2f2b435c.bb0c8c"
            ]
        ]
    },
    {
        "id": "7f51712d.e1a24",
        "type": "switch",
        "z": "9bfc0359.871c9",
        "name": "On or Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 460,
        "wires": [
            [
                "a9708e5a.eaa55"
            ],
            [
                "5ca279cb.163438",
                "4c3146e0.388e58"
            ]
        ]
    },
    {
        "id": "5ca279cb.163438",
        "type": "delay",
        "z": "9bfc0359.871c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 500,
        "wires": [
            [
                "a9708e5a.eaa55"
            ]
        ]
    },
    {
        "id": "4c3146e0.388e58",
        "type": "function",
        "z": "9bfc0359.871c9",
        "name": "Create URL for Shutdown",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/powerstate?newstate=1';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 540,
        "wires": [
            [
                "70cdf8c1.4cd118"
            ]
        ]
    },
    {
        "id": "70cdf8c1.4cd118",
        "type": "http request",
        "z": "9bfc0359.871c9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 930,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8e3ba94c.a947c8",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "Corridor Light IN",
        "topic": "shellies/shelly1-942645/relay/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "522dd786.c6ed48"
            ]
        ]
    },
    {
        "id": "1f1abbce.1ea2d4",
        "type": "mqtt out",
        "z": "7dbbdbf3.365084",
        "name": "Corridor Light OUT",
        "topic": "shellies/shelly1-942645/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "522dd786.c6ed48",
        "type": "ui_switch",
        "z": "7dbbdbf3.365084",
        "name": "",
        "label": "Corridor",
        "tooltip": "",
        "group": "a4375fdd.d3a7c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "1f1abbce.1ea2d4"
            ]
        ]
    },
    {
        "id": "784d926b.7d63bc",
        "type": "amazon-echo-device",
        "z": "9bfc0359.871c9",
        "name": "Gang Licht",
        "topic": "",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "a812c705.3d1cb8"
            ]
        ]
    },
    {
        "id": "a812c705.3d1cb8",
        "type": "mqtt out",
        "z": "9bfc0359.871c9",
        "name": "Corridor Light OUT",
        "topic": "shellies/shelly1-942645/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "d0e1b001.ac392",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "H&T Temperature IN",
        "topic": "shellies/shellyht-58EEB4/sensor/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "8a3b75e6.0641d8"
            ]
        ]
    },
    {
        "id": "8a3b75e6.0641d8",
        "type": "ui_gauge",
        "z": "7dbbdbf3.365084",
        "name": "Temperature Bed-Room",
        "group": "3d318576.51704a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bed-Room",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 390,
        "y": 720,
        "wires": []
    },
    {
        "id": "d044df15.6c2a9",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "H&T Humidity IN",
        "topic": "shellies/shellyht-58EEB4/sensor/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "77c3e63b.3a87d8"
            ]
        ]
    },
    {
        "id": "b0972bd6.20c128",
        "type": "ui_gauge",
        "z": "7dbbdbf3.365084",
        "name": "Humidity Bed-Room",
        "group": "42efb286.84806c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bed-Room",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 780,
        "wires": []
    },
    {
        "id": "f20e5b25.c930e8",
        "type": "comment",
        "z": "7dbbdbf3.365084",
        "name": "H&T Bedroom Sensor",
        "info": "",
        "x": 160,
        "y": 680,
        "wires": []
    },
    {
        "id": "3a05d870.6793e8",
        "type": "postgres",
        "z": "14dd6c8.d5f3494",
        "postgresdb": "bacb1987.c1aa28",
        "name": "",
        "output": true,
        "perrow": false,
        "outputs": 1,
        "x": 820,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b54c0257.93298",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "H&T Temperature IN",
        "topic": "shellies/shellyht-58EEB4/sensor/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 150,
        "y": 900,
        "wires": [
            [
                "c8688f90.6ee0e"
            ]
        ]
    },
    {
        "id": "b53f296d.f0a288",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "H&T Humidity IN",
        "topic": "shellies/shellyht-58EEB4/sensor/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 140,
        "y": 960,
        "wires": [
            [
                "da184e2.de977b"
            ]
        ]
    },
    {
        "id": "c8688f90.6ee0e",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Topic Temperature",
        "func": "msg.topic='Temperature'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 900,
        "wires": [
            [
                "299adbba.299984"
            ]
        ]
    },
    {
        "id": "da184e2.de977b",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Topic Humidity",
        "func": "msg.topic='Humidity'\nvar offset=global.get('bedHumOffset');\nmsg.payload = msg.payload - offset;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 960,
        "wires": [
            [
                "9dfb04b0.c6df38"
            ]
        ]
    },
    {
        "id": "9dfb04b0.c6df38",
        "type": "ui_chart",
        "z": "7dbbdbf3.365084",
        "name": "Humidity Bed-Room Graph",
        "group": "42efb286.84806c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "50",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 620,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "55318f8b.815e1",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "H&T Battery IN",
        "topic": "shellies/shellyht-58EEB4/sensor/battery",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "bf82e6ee.d09058"
            ]
        ]
    },
    {
        "id": "bf82e6ee.d09058",
        "type": "ui_gauge",
        "z": "7dbbdbf3.365084",
        "name": "Battery H&T Bed-Room",
        "group": "807503c.b0528",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Battery H&T",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 370,
        "y": 840,
        "wires": []
    },
    {
        "id": "f2e50a30.b94738",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "BedTemperature",
        "func": "global.set('bedTemperature','');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "299960ca.d3bbd",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "bedTemperature",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "f2e50a30.b94738"
            ]
        ]
    },
    {
        "id": "8ae5c4a3.a8a208",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "BedHumidity",
        "func": "global.set('bedHumidity','');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "68af5998.3ea968",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "bedHumidity",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "8ae5c4a3.a8a208"
            ]
        ]
    },
    {
        "id": "299adbba.299984",
        "type": "ui_chart",
        "z": "7dbbdbf3.365084",
        "name": "Temperature Bed-Room Graph",
        "group": "3d318576.51704a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "50",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 630,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "77c3e63b.3a87d8",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "offset",
        "func": "var offset=global.get('bedHumOffset');\nmsg.payload = msg.payload - offset;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 780,
        "wires": [
            [
                "b0972bd6.20c128"
            ]
        ]
    },
    {
        "id": "e0281d19.e90a5",
        "type": "comment",
        "z": "14dd6c8.d5f3494",
        "name": "insert to DB sensor values",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "5c286a77.f5cbf4",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "BedHumidityOffset",
        "func": "global.set('bedHumOffset',10);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "8ae7aca3.4343c",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "bedHumOffset",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "5c286a77.f5cbf4"
            ]
        ]
    },
    {
        "id": "349f5d22.cf9ee2",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "BedHumidity",
        "func": "global.set('dehumState','');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "85329705.e63bb8",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "dehumState",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "349f5d22.cf9ee2"
            ]
        ]
    },
    {
        "id": "e02c79b9.be8138",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "HomeCinema Plug Sensor IN",
        "topic": "tele/sonoff_homecinema/SENSOR",
        "qos": "2",
        "datatype": "json",
        "broker": "2aba1eb9.69a842",
        "x": 180,
        "y": 1120,
        "wires": [
            [
                "4f7cade6.043b74",
                "9b6a0b0.13c11f8",
                "105b93ae.146bdc",
                "1ed553b3.e05a8c",
                "4a472bcb.3258a4",
                "bce29b5a.a51d68",
                "21e7ba50.1b31c6"
            ]
        ]
    },
    {
        "id": "3fbbb962.6c7c76",
        "type": "ui_gauge",
        "z": "7dbbdbf3.365084",
        "name": "Temperature Living Room",
        "group": "3d318576.51704a",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Living-Room",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 1120,
        "wires": []
    },
    {
        "id": "d066f18b.1f778",
        "type": "ui_chart",
        "z": "7dbbdbf3.365084",
        "name": "Temperature Living-Room Graph",
        "group": "3d318576.51704a",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "150",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 800,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "efbb7a14.7e4198",
        "type": "comment",
        "z": "7dbbdbf3.365084",
        "name": "BME280 Sensor Sonoff Plug",
        "info": "",
        "x": 180,
        "y": 1080,
        "wires": []
    },
    {
        "id": "4f7cade6.043b74",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Temperature",
        "func": "msg.payload = msg.payload.BME280.Temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1120,
        "wires": [
            [
                "3fbbb962.6c7c76"
            ]
        ]
    },
    {
        "id": "9b6a0b0.13c11f8",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Humidity",
        "func": "msg.payload = msg.payload.BME280.Humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1160,
        "wires": [
            [
                "295a034f.41864c"
            ]
        ]
    },
    {
        "id": "105b93ae.146bdc",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Topic Temperature",
        "func": "msg.topic='Temperature';\nmsg.payload = msg.payload.BME280.Temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 1240,
        "wires": [
            [
                "d066f18b.1f778"
            ]
        ]
    },
    {
        "id": "1ed553b3.e05a8c",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Topic Humidity",
        "func": "msg.topic='Humidity';\nmsg.payload = msg.payload.BME280.Humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1280,
        "wires": [
            [
                "389facf0.7fe1f4"
            ]
        ]
    },
    {
        "id": "389facf0.7fe1f4",
        "type": "ui_chart",
        "z": "7dbbdbf3.365084",
        "name": "Humidity Living-Room Graph",
        "group": "42efb286.84806c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "150",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 780,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "bce29b5a.a51d68",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Topic Pressure",
        "func": "msg.topic='Pressure';\nmsg.payload = msg.payload.BME280.Pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1320,
        "wires": [
            [
                "2244dc8f.477504"
            ]
        ]
    },
    {
        "id": "2244dc8f.477504",
        "type": "ui_chart",
        "z": "7dbbdbf3.365084",
        "name": "Pressure Living-Room Graph",
        "group": "bb3e4354.f2de7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "150",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 780,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "295a034f.41864c",
        "type": "ui_gauge",
        "z": "7dbbdbf3.365084",
        "name": "Humidity Living-Room",
        "group": "42efb286.84806c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Living-Room",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 1160,
        "wires": []
    },
    {
        "id": "4a472bcb.3258a4",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create Pressure",
        "func": "msg.payload = msg.payload.BME280.Pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1200,
        "wires": [
            [
                "9912eeb5.468a1"
            ]
        ]
    },
    {
        "id": "9912eeb5.468a1",
        "type": "ui_gauge",
        "z": "7dbbdbf3.365084",
        "name": "Pressure Living-Room",
        "group": "bb3e4354.f2de7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Living-Room",
        "label": "",
        "format": "{{value}}",
        "min": "800",
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 1200,
        "wires": []
    },
    {
        "id": "d5d76a6e.646bf8",
        "type": "inject",
        "z": "14dd6c8.d5f3494",
        "name": "all 4 hours",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "14400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "2d7d61d2.19a6de",
                "57915db1.140254"
            ]
        ]
    },
    {
        "id": "ee6d646c.194958",
        "type": "mqtt in",
        "z": "f387a27c.808d3",
        "name": "H&T Temperature IN",
        "topic": "shellies/shellyht-58EEB4/sensor/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "1e5d7034.64cf2"
            ]
        ]
    },
    {
        "id": "ef1ea542.999258",
        "type": "mqtt in",
        "z": "f387a27c.808d3",
        "name": "H&T Humidity IN",
        "topic": "shellies/shellyht-58EEB4/sensor/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 100,
        "y": 720,
        "wires": [
            [
                "ed34477a.047578"
            ]
        ]
    },
    {
        "id": "1e5d7034.64cf2",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "set global bedTemperature Variable",
        "func": "global.set('bedTemperature',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "ed34477a.047578",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "set global bedHumidity Variable",
        "func": "var offset=global.get('bedHumOffset');\nglobal.set('bedHumidity',msg.payload-offset);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "1fba55ef.f427ca",
        "type": "comment",
        "z": "f387a27c.808d3",
        "name": "Save input values global",
        "info": "",
        "x": 130,
        "y": 620,
        "wires": []
    },
    {
        "id": "42674cc5.fa3f34",
        "type": "comment",
        "z": "f387a27c.808d3",
        "name": "Define global variables",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "ffdb497a.8456a8",
        "type": "template",
        "z": "14dd6c8.d5f3494",
        "name": "insert into bedroom",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "insert into state_bedroom (temperature, humidity) values ($param1,$param2)",
        "x": 610,
        "y": 100,
        "wires": [
            [
                "3a05d870.6793e8"
            ]
        ]
    },
    {
        "id": "2d7d61d2.19a6de",
        "type": "function",
        "z": "14dd6c8.d5f3494",
        "name": "setup params for insert bedroom",
        "func": "var bedhumidity=global.get('bedHumidity');\nvar bedtemperature=global.get('bedTemperature');\nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = parseFloat(bedtemperature);\nmsg.queryParameters.param2 = parseFloat(bedhumidity);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "ffdb497a.8456a8"
            ]
        ]
    },
    {
        "id": "9ab05481.665448",
        "type": "template",
        "z": "14dd6c8.d5f3494",
        "name": "insert into livingroom",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "insert into state_livingroom (temperature, humidity, pressure) values ($param1,$param2,$param3)",
        "x": 620,
        "y": 140,
        "wires": [
            [
                "3a05d870.6793e8"
            ]
        ]
    },
    {
        "id": "57915db1.140254",
        "type": "function",
        "z": "14dd6c8.d5f3494",
        "name": "setup params for insert livingroom",
        "func": "var livingtemperature=global.get('livingTemperature');\nvar livinghumidity=global.get('livingHumidity');\nvar livingpressure=global.get('livingPressure');\nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = parseFloat(livingtemperature);\nmsg.queryParameters.param2 = parseFloat(livinghumidity);\nmsg.queryParameters.param3 = parseFloat(livingpressure);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 140,
        "wires": [
            [
                "9ab05481.665448"
            ]
        ]
    },
    {
        "id": "8b7f6f47.342d1",
        "type": "mqtt in",
        "z": "f387a27c.808d3",
        "name": "HomeCinema Plug Sensor IN",
        "topic": "tele/sonoff_homecinema/SENSOR",
        "qos": "2",
        "datatype": "json",
        "broker": "2aba1eb9.69a842",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "b73ce511.4e7678",
                "ce8ad1e5.c400a",
                "e9b5c920.1dcca8"
            ]
        ]
    },
    {
        "id": "b73ce511.4e7678",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "set global livingTemperature Variable",
        "func": "global.set('livingTemperature',msg.payload.BME280.Temperature);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "ce8ad1e5.c400a",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "set global livingHumidity Variable",
        "func": "global.set('livingHumidity',msg.payload.BME280.Humidity);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "e9b5c920.1dcca8",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "set global livingPressure Variable",
        "func": "global.set('livingPressure',msg.payload.BME280.Pressure);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "627c307b.a8745",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "LivingTemperature",
        "func": "global.set('livingTemperature','');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "64716151.e154b",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "livingTemperature",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "627c307b.a8745"
            ]
        ]
    },
    {
        "id": "7cb251a4.78b9e",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "LivingHumidity",
        "func": "global.set('livingHumidity','');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "966e6319.4fa7d",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "livingHumidity",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "7cb251a4.78b9e"
            ]
        ]
    },
    {
        "id": "8729a1d7.4b003",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "LivingPressure",
        "func": "global.set('livingPressure','');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "30396d99.9a3bb2",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "livingPressure",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "8729a1d7.4b003"
            ]
        ]
    },
    {
        "id": "3f761c65.6ddba4",
        "type": "template",
        "z": "9f53e779.d130a8",
        "name": "select from bedroom",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "select avg(temperature) as avg_temp, min(temperature) as min_temp, max(temperature) as max_temp, avg(humidity) as avg_humi, min(humidity) as min_humi, max(humidity) as max_humi from state_bedroom\nwhere date > current_date - interval '1 days'",
        "x": 560,
        "y": 180,
        "wires": [
            [
                "b0d1fa8b.4cf738"
            ]
        ]
    },
    {
        "id": "ab40795f.b59de8",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "setup params",
        "func": "msg.queryParameters = msg.queryParameters || {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "3f761c65.6ddba4"
            ]
        ]
    },
    {
        "id": "2d082573.4f0cca",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "1190da66.7981e6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Bedroom - Temperature AVG",
        "label": "AVG",
        "format": "{{msg.payload[0].avg_temp}}",
        "layout": "row-spread",
        "x": 1140,
        "y": 120,
        "wires": []
    },
    {
        "id": "bd427e76.57806",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "1190da66.7981e6",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Bedroom - Temperature MIN",
        "label": "MIN",
        "format": "{{msg.payload[0].min_temp}}",
        "layout": "row-spread",
        "x": 1140,
        "y": 160,
        "wires": []
    },
    {
        "id": "b013b441.033ad8",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "1190da66.7981e6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Bedroom - Temperature MAX",
        "label": "MAX",
        "format": "{{msg.payload[0].max_temp}}",
        "layout": "row-spread",
        "x": 1140,
        "y": 200,
        "wires": []
    },
    {
        "id": "b0d1fa8b.4cf738",
        "type": "postgres",
        "z": "9f53e779.d130a8",
        "postgresdb": "bacb1987.c1aa28",
        "name": "",
        "output": true,
        "perrow": false,
        "outputs": 1,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "2d082573.4f0cca",
                "bd427e76.57806",
                "b013b441.033ad8",
                "38ebd5e7.bf37fa",
                "b2e2cb9e.750bf8",
                "4691df07.5fcf",
                "484686f.092f078",
                "79756a77.4882b4",
                "a4b673eb.3000f",
                "5219e500.04166c",
                "21469fac.21fab",
                "7bf8dc4.a229824",
                "47f9d76.7ffa028",
                "605c881.b6f3c78"
            ]
        ]
    },
    {
        "id": "4691df07.5fcf",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "79846c2f.e66d64",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Bedroom - Humidity AVG",
        "label": "AVG",
        "format": "{{msg.payload[0].avg_humi}}",
        "layout": "row-spread",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "484686f.092f078",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "79846c2f.e66d64",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Bedroom - Humidity MIN",
        "label": "MIN",
        "format": "{{msg.payload[0].min_humi}}",
        "layout": "row-spread",
        "x": 1130,
        "y": 320,
        "wires": []
    },
    {
        "id": "79756a77.4882b4",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "79846c2f.e66d64",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Bedroom - Humidity MAX",
        "label": "MAX",
        "format": "{{msg.payload[0].max_humi}}",
        "layout": "row-spread",
        "x": 1130,
        "y": 360,
        "wires": []
    },
    {
        "id": "b2e2cb9e.750bf8",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "79846c2f.e66d64",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Bedroom - Status from last 7 days",
        "label": "Bedroom - Status from last 7 days",
        "format": "",
        "layout": "row-center",
        "x": 1160,
        "y": 240,
        "wires": []
    },
    {
        "id": "38ebd5e7.bf37fa",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "1190da66.7981e6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Bedroom -  Status from last 7 days",
        "label": "Bedroom - Status from last 7 days",
        "format": "",
        "layout": "row-center",
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "60e49bd6.7a9ca4",
        "type": "comment",
        "z": "9f53e779.d130a8",
        "name": "From DB",
        "info": "",
        "x": 100,
        "y": 60,
        "wires": []
    },
    {
        "id": "8a406e.5ce06f9",
        "type": "mqtt in",
        "z": "8ae7b656.b0c538",
        "name": "H&T Humidity IN",
        "topic": "shellies/shellyht-58EEB4/sensor/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "b7857eec.c3f58"
            ]
        ]
    },
    {
        "id": "b7857eec.c3f58",
        "type": "function",
        "z": "8ae7b656.b0c538",
        "name": "Send Humidity warning",
        "func": "var dehumState=global.get('dehumState');\nvar humidityValue =  global.get('bedHumidity');\nmsg.payload = {};\nif (humidityValue >= 60 && dehumState == 'off')\n{\n    msg.payload = {\n        chatId: '390062931',\n        type: 'message',\n        content: 'Bedroom Humidity: ' +  humidityValue + '%. Dehumidifier started.',\n        action: true\n    }\n}\nif (humidityValue <= 50 && dehumState == 'on')\n{\n    msg.payload = {\n       action: false\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 100,
        "wires": [
            [
                "cc6748f7.03f468"
            ]
        ]
    },
    {
        "id": "cc6748f7.03f468",
        "type": "switch",
        "z": "8ae7b656.b0c538",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 630,
        "y": 100,
        "wires": [
            [
                "2eb27d5a.c91732"
            ],
            [
                "4e5941cb.8b3e9"
            ]
        ]
    },
    {
        "id": "203dc4b8.9f610c",
        "type": "mqtt out",
        "z": "8ae7b656.b0c538",
        "name": "Dehumidifier OUT",
        "topic": "shellies/shelly1pm-76B578/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 1230,
        "y": 80,
        "wires": []
    },
    {
        "id": "d05c968a.d355a8",
        "type": "function",
        "z": "8ae7b656.b0c538",
        "name": "create state for shelly",
        "func": "if (msg.payload) {\n    msg.payload = 'on';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 80,
        "wires": [
            [
                "203dc4b8.9f610c"
            ]
        ]
    },
    {
        "id": "2eb27d5a.c91732",
        "type": "time-range-switch",
        "z": "8ae7b656.b0c538",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "09:00",
        "endTime": "20:30",
        "startOffset": "",
        "endOffset": "",
        "x": 810,
        "y": 80,
        "wires": [
            [
                "4e5941cb.8b3e9",
                "78b689f3.3ea278",
                "d05c968a.d355a8"
            ],
            []
        ]
    },
    {
        "id": "77f30d12.c34064",
        "type": "function",
        "z": "8ae7b656.b0c538",
        "name": "create state for shelly",
        "func": "if (msg.payload) {\n    msg.payload = 'off';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1680,
        "y": 280,
        "wires": [
            [
                "edbd691c.08e138"
            ]
        ]
    },
    {
        "id": "93f57d95.d44d4",
        "type": "telegram sender",
        "z": "8ae7b656.b0c538",
        "name": "",
        "bot": "3d3d8fed.cc3ab",
        "x": 1930,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "17d73de8.8aa742",
        "type": "inject",
        "z": "8ae7b656.b0c538",
        "name": "Stop Dehumidifier",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "35 19 * * *",
        "once": false,
        "x": 590,
        "y": 200,
        "wires": [
            [
                "4e5941cb.8b3e9"
            ]
        ]
    },
    {
        "id": "bce2e271.c4dd4",
        "type": "comment",
        "z": "8ae7b656.b0c538",
        "name": "Stop Dehumidifier periodically",
        "info": "",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "4e5941cb.8b3e9",
        "type": "interval-length",
        "z": "8ae7b656.b0c538",
        "format": "human",
        "bytopic": false,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": false,
        "startup": false,
        "msgField": "payload",
        "timestampField": "timestamp",
        "repeatTimeout": false,
        "name": "run time",
        "x": 940,
        "y": 220,
        "wires": [
            [
                "2709c55a.00d48a"
            ],
            []
        ]
    },
    {
        "id": "cfb4247a.5048e8",
        "type": "function",
        "z": "8ae7b656.b0c538",
        "name": "crete telegram message",
        "func": "var time = msg.payload.interval;\nvar humidity = global.get('bedHumidity');\nvar costs = parseFloat(global.get('currentCostDehumidifier') - global.get('oldCostDehumidifier')).toFixed(2);\nvar kwhusage = parseFloat(global.get('currentKWhDehumidifier') - global.get('oldKWhDehumidifier')).toFixed(2);\nmsg.payload = {};\nif (humidity >= 50)\n{\n    msg.payload = {\n    chatId: '390062931',\n    type: 'message',\n    content: 'Bedroom Humidity: ' + humidity  + '%. Dehumidifier stopped to earlie because of bedtime. Run time: ' + time + '. Costs: ' + costs + '. Usage: ' + kwhusage + ' KWh.'\n    }\n}\nmsg.payload = {\nchatId: '390062931',\ntype: 'message',\ncontent: 'Humidity: ' + humidity  + '%. Dehumidifier stopped after ' + time + '. Costs: ' + costs + '. Usage: ' + kwhusage + ' KWh.'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1690,
        "y": 160,
        "wires": [
            [
                "93f57d95.d44d4"
            ]
        ]
    },
    {
        "id": "78b689f3.3ea278",
        "type": "telegram sender",
        "z": "8ae7b656.b0c538",
        "name": "",
        "bot": "3d3d8fed.cc3ab",
        "x": 1010,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d80e30de.417f6",
        "type": "inject",
        "z": "8ae7b656.b0c538",
        "name": "Start Dehumidifier",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "05 09 * * *",
        "once": false,
        "onceDelay": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "b7857eec.c3f58"
            ]
        ]
    },
    {
        "id": "f27e54a5.9afd68",
        "type": "ui_text",
        "z": "8ae7b656.b0c538",
        "group": "d155d55d.4664c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "last run duration",
        "label": "Last run duration",
        "format": "{{msg.payload.interval}} - {{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1660,
        "y": 240,
        "wires": []
    },
    {
        "id": "ac935f0e.19c98",
        "type": "template",
        "z": "8ae7b656.b0c538",
        "name": "insert into temperature",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "insert into state_dehumidifier (run_duration, costs, kwhusage) values ($param1, $param2, $param3)",
        "x": 1980,
        "y": 200,
        "wires": [
            [
                "a3ae61fa.e2dbb"
            ]
        ]
    },
    {
        "id": "a3ae61fa.e2dbb",
        "type": "postgres",
        "z": "8ae7b656.b0c538",
        "postgresdb": "bacb1987.c1aa28",
        "name": "",
        "output": true,
        "perrow": false,
        "outputs": 1,
        "x": 2160,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "28340e4e.ea3a02",
        "type": "function",
        "z": "8ae7b656.b0c538",
        "name": "setup params for insert run time",
        "func": "msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = msg.payload.interval;\nmsg.queryParameters.param2 = global.get('currentCostDehumidifier') - global.get('oldCostDehumidifier');\nmsg.queryParameters.param3 = global.get('currentKWhDehumidifier') - global.get('oldKWhDehumidifier');\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1710,
        "y": 200,
        "wires": [
            [
                "ac935f0e.19c98"
            ]
        ]
    },
    {
        "id": "2709c55a.00d48a",
        "type": "function",
        "z": "8ae7b656.b0c538",
        "name": "get dehumstate",
        "func": "var time = msg.payload;\nvar date = new Date().toISOString().slice(0,10);\nmsg.payload = {};\nmsg.payload = {\n    interval: time,\n    dehumState: global.get('dehumState'),\n    date: date\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 220,
        "wires": [
            [
                "a500c0b.d13104"
            ]
        ]
    },
    {
        "id": "a500c0b.d13104",
        "type": "switch",
        "z": "8ae7b656.b0c538",
        "name": "check dehumstate",
        "property": "payload.dehumState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1370,
        "y": 220,
        "wires": [
            [
                "cfb4247a.5048e8",
                "28340e4e.ea3a02",
                "f27e54a5.9afd68",
                "77f30d12.c34064"
            ]
        ]
    },
    {
        "id": "73f34ebd.e12f3",
        "type": "comment",
        "z": "8ae7b656.b0c538",
        "name": "needed because injection is made by the time range function",
        "info": "",
        "x": 1280,
        "y": 180,
        "wires": []
    },
    {
        "id": "13b558d5.1897f7",
        "type": "comment",
        "z": "8ae7b656.b0c538",
        "name": "Start Dehumidifier periodically",
        "info": "",
        "x": 160,
        "y": 160,
        "wires": []
    },
    {
        "id": "edbd691c.08e138",
        "type": "mqtt out",
        "z": "8ae7b656.b0c538",
        "name": "Dehumidifier OUT",
        "topic": "shellies/shelly1pm-76B578/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "2aba1eb9.69a842",
        "x": 1910,
        "y": 280,
        "wires": []
    },
    {
        "id": "f868360c.c889b8",
        "type": "comment",
        "z": "8ae7b656.b0c538",
        "name": "Dehumidifier Logic",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "5137917.19e057",
        "type": "mqtt in",
        "z": "f387a27c.808d3",
        "name": "Dehumidifier IN",
        "topic": "shellies/shelly1pm-76B578/relay/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 100,
        "y": 920,
        "wires": [
            [
                "676b2b8a.cee034"
            ]
        ]
    },
    {
        "id": "676b2b8a.cee034",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "set global dehumState Variable",
        "func": "global.set('dehumState',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "e6fb68d3.d20258",
        "type": "mqtt in",
        "z": "f387a27c.808d3",
        "name": "H&T Battery IN",
        "topic": "shellies/shellyht-58EEB4/sensor/battery",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 100,
        "y": 1060,
        "wires": [
            [
                "c2b23085.bde5f"
            ]
        ]
    },
    {
        "id": "66895466.daf0ec",
        "type": "telegram sender",
        "z": "f387a27c.808d3",
        "name": "",
        "bot": "3d3d8fed.cc3ab",
        "x": 690,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "c2b23085.bde5f",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "Check Battery state",
        "func": "const batteryState = msg.payload;\nmsg.payload = {};\nif (batteryState  == 10)\n{\n    msg.payload = {\n        chatId: '390062931',\n        type: 'message',\n        content: 'Battery of Bedroom H&T sensor less then ' + batteryState + '%'\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 1060,
        "wires": [
            [
                "8d313252.86d8"
            ]
        ]
    },
    {
        "id": "8d313252.86d8",
        "type": "switch",
        "z": "f387a27c.808d3",
        "name": "",
        "property": "payload.chatId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 510,
        "y": 1060,
        "wires": [
            [
                "66895466.daf0ec"
            ]
        ]
    },
    {
        "id": "1f4c06a2.7efb19",
        "type": "comment",
        "z": "f387a27c.808d3",
        "name": "H&T Battery Notification",
        "info": "",
        "x": 120,
        "y": 1020,
        "wires": []
    },
    {
        "id": "fe7fd4ab.75c4a8",
        "type": "inject",
        "z": "9f53e779.d130a8",
        "name": "all 24 hours",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "ab40795f.b59de8"
            ]
        ]
    },
    {
        "id": "46798401.e2dcdc",
        "type": "template",
        "z": "9f53e779.d130a8",
        "name": "select from livingroom",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "select avg(temperature) as avg_temp, min(temperature) as min_temp, max(temperature) as max_temp, avg(humidity) as avg_humi, min(humidity) as min_humi, max(humidity) as max_humi, avg(pressure) as avg_press, min(pressure) as min_press, max(pressure) as max_press from state_livingroom\nwhere date > current_date - interval '1 days'",
        "x": 520,
        "y": 1020,
        "wires": [
            [
                "7a7eb389.5dd3cc"
            ]
        ]
    },
    {
        "id": "a58bf465.5aaf08",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "setup params",
        "func": "msg.queryParameters = msg.queryParameters || {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 1020,
        "wires": [
            [
                "46798401.e2dcdc"
            ]
        ]
    },
    {
        "id": "ad26649d.fba3e8",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "1190da66.7981e6",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Livingroom - Temperature AVG",
        "label": "AVG",
        "format": "{{msg.payload[0].avg_temp}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 840,
        "wires": []
    },
    {
        "id": "f2bac1f4.3bf02",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "1190da66.7981e6",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Livingroom - Temperature MIN",
        "label": "MIN",
        "format": "{{msg.payload[0].min_temp}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 880,
        "wires": []
    },
    {
        "id": "4ca80427.1c756c",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "1190da66.7981e6",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Livingroom - Temperature MAX",
        "label": "MAX",
        "format": "{{msg.payload[0].max_temp}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 920,
        "wires": []
    },
    {
        "id": "7a7eb389.5dd3cc",
        "type": "postgres",
        "z": "9f53e779.d130a8",
        "postgresdb": "bacb1987.c1aa28",
        "name": "",
        "output": true,
        "perrow": false,
        "outputs": 1,
        "x": 720,
        "y": 1020,
        "wires": [
            [
                "ad26649d.fba3e8",
                "f2bac1f4.3bf02",
                "4ca80427.1c756c",
                "dbb1f9bf.f09428",
                "a6bd2fcf.f700a",
                "f208ab89.ca05f8",
                "e39926d7.fb5c78",
                "a2eaf767.53fa98",
                "57202cf5.710cb4",
                "f9a2cf1c.04d45",
                "8ad709a2.f0b9a8",
                "a79325aa.2621e8",
                "7581be25.96798",
                "3e43bbfe.3126d4",
                "cad75883.f814f8",
                "8792f0e6.8540d",
                "89395c0f.5d012",
                "12ea5125.048d8f",
                "e552a059.98be",
                "e519f526.2edb48",
                "cb992f7b.b9524"
            ]
        ]
    },
    {
        "id": "f208ab89.ca05f8",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "79846c2f.e66d64",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Livingroom - Humidity AVG",
        "label": "AVG",
        "format": "{{msg.payload[0].avg_humi}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e39926d7.fb5c78",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "79846c2f.e66d64",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Livingroom - Humidity MIN",
        "label": "MIN",
        "format": "{{msg.payload[0].min_humi}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a2eaf767.53fa98",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "79846c2f.e66d64",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Livingroom - Humidity MAX",
        "label": "MAX",
        "format": "{{msg.payload[0].max_humi}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a6bd2fcf.f700a",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "79846c2f.e66d64",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Livingroom - Status from last 7 days",
        "label": "Livingroom - Status from last 7 days",
        "format": "",
        "layout": "row-center",
        "x": 1080,
        "y": 960,
        "wires": []
    },
    {
        "id": "dbb1f9bf.f09428",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "1190da66.7981e6",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Livingroom -  Status from last 7 days",
        "label": "Livingroom - Status from last 7 days",
        "format": "",
        "layout": "row-center",
        "x": 1080,
        "y": 800,
        "wires": []
    },
    {
        "id": "62211a3e.f9c4d4",
        "type": "inject",
        "z": "9f53e779.d130a8",
        "name": "all 24 hours",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1020,
        "wires": [
            [
                "a58bf465.5aaf08"
            ]
        ]
    },
    {
        "id": "f9a2cf1c.04d45",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "b82cd984.91e4e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Livingroom - Pressure AVG",
        "label": "AVG",
        "format": "{{msg.payload[0].avg_press}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 1160,
        "wires": []
    },
    {
        "id": "8ad709a2.f0b9a8",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "b82cd984.91e4e8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Livingroom - Pressure MIN",
        "label": "MIN",
        "format": "{{msg.payload[0].min_press}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 1200,
        "wires": []
    },
    {
        "id": "a79325aa.2621e8",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "b82cd984.91e4e8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Livingroom - Pressure MAX",
        "label": "MAX",
        "format": "{{msg.payload[0].max_press}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 1240,
        "wires": []
    },
    {
        "id": "57202cf5.710cb4",
        "type": "ui_text",
        "z": "9f53e779.d130a8",
        "d": true,
        "group": "b82cd984.91e4e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Livingroom - Status from last 7 days",
        "label": "Livingroom - Status from last 7 days",
        "format": "",
        "layout": "row-center",
        "x": 1080,
        "y": 1120,
        "wires": []
    },
    {
        "id": "a4b673eb.3000f",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Temperature AVG",
        "func": "msg.topic='AVG'\nmsg.payload = msg.payload[0].avg_temp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 400,
        "wires": [
            [
                "c3103c17.730f1"
            ]
        ]
    },
    {
        "id": "c3103c17.730f1",
        "type": "ui_chart",
        "z": "9f53e779.d130a8",
        "name": "Temperature Bed-Room Last seven days Graph",
        "group": "1190da66.7981e6",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Bedroom - Last seven days",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "7",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 1520,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5219e500.04166c",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Temperature MIN",
        "func": "msg.topic='MIN'\nmsg.payload = msg.payload[0].min_temp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 440,
        "wires": [
            [
                "c3103c17.730f1"
            ]
        ]
    },
    {
        "id": "21469fac.21fab",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Temperature MAX",
        "func": "msg.topic='MAX'\nmsg.payload = msg.payload[0].max_temp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 480,
        "wires": [
            [
                "c3103c17.730f1"
            ]
        ]
    },
    {
        "id": "7bf8dc4.a229824",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Humidity AVG",
        "func": "msg.topic='AVG'\nmsg.payload = msg.payload[0].avg_humi\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 540,
        "wires": [
            [
                "42240a10.ee9fc4"
            ]
        ]
    },
    {
        "id": "42240a10.ee9fc4",
        "type": "ui_chart",
        "z": "9f53e779.d130a8",
        "name": "Humidity Bed-Room Last seven days Graph",
        "group": "79846c2f.e66d64",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Bedroom - Last seven days",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "7",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 1510,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "47f9d76.7ffa028",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Humidity MIN",
        "func": "msg.topic='MIN'\nmsg.payload = msg.payload[0].min_humi\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 580,
        "wires": [
            [
                "42240a10.ee9fc4"
            ]
        ]
    },
    {
        "id": "605c881.b6f3c78",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Humidity MAX",
        "func": "msg.topic='MAX'\nmsg.payload = msg.payload[0].max_humi\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 620,
        "wires": [
            [
                "42240a10.ee9fc4"
            ]
        ]
    },
    {
        "id": "7581be25.96798",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Temperature AVG",
        "func": "msg.topic='AVG'\nmsg.payload = msg.payload[0].avg_temp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 1280,
        "wires": [
            [
                "b575d0c2.6347f"
            ]
        ]
    },
    {
        "id": "b575d0c2.6347f",
        "type": "ui_chart",
        "z": "9f53e779.d130a8",
        "name": "Temperature Living-Room Last seven days Graph",
        "group": "1190da66.7981e6",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Livingroom - Last seven days",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "7",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 1450,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "3e43bbfe.3126d4",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Temperature MIN",
        "func": "msg.topic='MIN'\nmsg.payload = msg.payload[0].min_temp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 1320,
        "wires": [
            [
                "b575d0c2.6347f"
            ]
        ]
    },
    {
        "id": "cad75883.f814f8",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Temperature MAX",
        "func": "msg.topic='MAX'\nmsg.payload = msg.payload[0].max_temp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 1360,
        "wires": [
            [
                "b575d0c2.6347f"
            ]
        ]
    },
    {
        "id": "8792f0e6.8540d",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Humidity AVG",
        "func": "msg.topic='AVG'\nmsg.payload = msg.payload[0].avg_humi\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 1420,
        "wires": [
            [
                "9d8f68a.3117d98"
            ]
        ]
    },
    {
        "id": "9d8f68a.3117d98",
        "type": "ui_chart",
        "z": "9f53e779.d130a8",
        "name": "Humidity Living-Room Last seven days Graph",
        "group": "79846c2f.e66d64",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Livingroom - Last seven days",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "7",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 1440,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "89395c0f.5d012",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Humidity MIN",
        "func": "msg.topic='MIN'\nmsg.payload = msg.payload[0].min_humi\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 1460,
        "wires": [
            [
                "9d8f68a.3117d98"
            ]
        ]
    },
    {
        "id": "12ea5125.048d8f",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Humidity MAX",
        "func": "msg.topic='MAX'\nmsg.payload = msg.payload[0].max_humi\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 1500,
        "wires": [
            [
                "9d8f68a.3117d98"
            ]
        ]
    },
    {
        "id": "e552a059.98be",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Pressure AVG",
        "func": "msg.topic='AVG'\nmsg.payload = msg.payload[0].avg_press\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 1560,
        "wires": [
            [
                "934294f7.e63f18"
            ]
        ]
    },
    {
        "id": "934294f7.e63f18",
        "type": "ui_chart",
        "z": "9f53e779.d130a8",
        "name": "Pressure Living-Room Last seven days Graph",
        "group": "b82cd984.91e4e8",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Livingroom - Last seven days",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "7",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 1440,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "e519f526.2edb48",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Pressure MIN",
        "func": "msg.topic='MIN'\nmsg.payload = msg.payload[0].min_press\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 1600,
        "wires": [
            [
                "934294f7.e63f18"
            ]
        ]
    },
    {
        "id": "cb992f7b.b9524",
        "type": "function",
        "z": "9f53e779.d130a8",
        "name": "Create Topic Pressure MAX",
        "func": "msg.topic='MAX'\nmsg.payload = msg.payload[0].max_press\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 1640,
        "wires": [
            [
                "934294f7.e63f18"
            ]
        ]
    },
    {
        "id": "46d9f14e.4b08a",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "Dehumidifier IN",
        "topic": "shellies/shelly1pm-76B578/relay/0/power",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 120,
        "y": 1480,
        "wires": [
            [
                "f868e6a5.3a7d18"
            ]
        ]
    },
    {
        "id": "f868e6a5.3a7d18",
        "type": "ui_gauge",
        "z": "7dbbdbf3.365084",
        "name": "Watt usage",
        "group": "d155d55d.4664c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Watt",
        "label": "W",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "350",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 1480,
        "wires": []
    },
    {
        "id": "7691b590.cb687c",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "Dehumidifier IN",
        "topic": "shellies/shelly1pm-76B578/relay/0/energy",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 120,
        "y": 1540,
        "wires": [
            [
                "39b236dd.03c8ea",
                "e07b4650.34c078"
            ]
        ]
    },
    {
        "id": "79fab9ee.8d60b8",
        "type": "ui_text",
        "z": "7dbbdbf3.365084",
        "group": "d155d55d.4664c8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Total usage in KWh",
        "label": "Total usage in KWh",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 1540,
        "wires": []
    },
    {
        "id": "9eea7923.63fb68",
        "type": "mqtt in",
        "z": "7dbbdbf3.365084",
        "name": "Dehumidifier IN",
        "topic": "shellies/shelly1pm-76B578/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "2aba1eb9.69a842",
        "x": 120,
        "y": 1640,
        "wires": [
            [
                "3ef37bb4.889e24"
            ]
        ]
    },
    {
        "id": "3ef37bb4.889e24",
        "type": "ui_text",
        "z": "7dbbdbf3.365084",
        "group": "d155d55d.4664c8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Internal device temperature",
        "label": "Internal device temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 600,
        "y": 1640,
        "wires": []
    },
    {
        "id": "3b1e2336.d3c51c",
        "type": "comment",
        "z": "7dbbdbf3.365084",
        "name": "Shelly 1PM Dehumidifier",
        "info": "",
        "x": 150,
        "y": 1440,
        "wires": []
    },
    {
        "id": "39b236dd.03c8ea",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "convert Wmin in KWhours and set global variables",
        "func": "msg.payload = parseFloat((msg.payload * 0.017) * 0.001).toFixed(2);\nvar dehumState=global.get('dehumState');\nif (dehumState == 'on') {\n    global.set('currentKWhDehumidifier',msg.payload);\n}\nif (dehumState == 'off') {\n    global.set('oldKWhDehumidifier',msg.payload);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1540,
        "wires": [
            [
                "79fab9ee.8d60b8"
            ]
        ]
    },
    {
        "id": "e39b97d2.f937b8",
        "type": "ui_text",
        "z": "7dbbdbf3.365084",
        "group": "d155d55d.4664c8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Total usage in KWh",
        "label": "Total costs in ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 1580,
        "wires": []
    },
    {
        "id": "e07b4650.34c078",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "calculate total costs and set global variables",
        "func": "msg.payload = parseFloat(((msg.payload * 0.017) * 0.001) * 0.23).toFixed(2);\nvar dehumState=global.get('dehumState');\nif (dehumState == 'on') {\n    global.set('currentCostDehumidifier',msg.payload);\n}\nif (dehumState == 'off') {\n    global.set('oldCostDehumidifier',msg.payload);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1580,
        "wires": [
            [
                "e39b97d2.f937b8"
            ]
        ]
    },
    {
        "id": "a63b698a.ef5028",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "CurrentCostDehumidifier",
        "func": "global.set('currentCostDehumidifier','');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "21441b28.a7f804",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "currentCostDehumidifier",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "a63b698a.ef5028"
            ]
        ]
    },
    {
        "id": "ebf16ed5.08b0a",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "OldCostDehumidifier",
        "func": "global.set('oldCostDehumidifier','');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "19fe547f.5748ac",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "oldCostDehumidifier",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "ebf16ed5.08b0a"
            ]
        ]
    },
    {
        "id": "6132d82f.bdd2f8",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "CurrentKWhDehumidifier",
        "func": "global.set('currentKWhDehumidifier','');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f9a7ed10.3469a",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "currentKWhDehumidifier",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "6132d82f.bdd2f8"
            ]
        ]
    },
    {
        "id": "8126dc33.e6241",
        "type": "function",
        "z": "f387a27c.808d3",
        "name": "OldKWhDehumidifier",
        "func": "global.set('oldKWhDehumidifier','');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "b0aa6b90.a62338",
        "type": "inject",
        "z": "f387a27c.808d3",
        "name": "",
        "topic": "",
        "payload": "oldKWhDehumidifier",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "8126dc33.e6241"
            ]
        ]
    },
    {
        "id": "ff70b6e4.32cf78",
        "type": "telegram sender",
        "z": "7dbbdbf3.365084",
        "name": "",
        "bot": "3d3d8fed.cc3ab",
        "x": 810,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "21e7ba50.1b31c6",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "check humidity and crete telegram message",
        "func": "var humidity = msg.payload.BME280.Humidity;\nif (humidity >= 60)\n{\n    msg.payload = {\n    chatId: '390062931',\n    type: 'message',\n    content: 'Living Room Humidity: ' + humidity  + '%. Please open doors and windows!'\n    }\n    return msg;\n} else {\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 1360,
        "wires": [
            [
                "ff70b6e4.32cf78"
            ]
        ]
    },
    {
        "id": "4bbf3aaf.6a16d4",
        "type": "switch",
        "z": "7dbbdbf3.365084",
        "name": "on/off check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530.0000190734863,
        "y": 525.7142667770386,
        "wires": [
            [
                "bfacf34c.b714c"
            ],
            [
                "19b36b80.6d3a95",
                "ced2b623.085578"
            ]
        ]
    },
    {
        "id": "19b36b80.6d3a95",
        "type": "delay",
        "z": "7dbbdbf3.365084",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 730,
        "y": 560,
        "wires": [
            [
                "bfacf34c.b714c"
            ]
        ]
    },
    {
        "id": "ced2b623.085578",
        "type": "function",
        "z": "7dbbdbf3.365084",
        "name": "Create URL for Shutdown",
        "func": "var ip=global.get('dreamboxip');\n\nmsg.url = ip + '/api/powerstate?newstate=1';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 620,
        "wires": [
            [
                "91aab48e.0459e8"
            ]
        ]
    },
    {
        "id": "91aab48e.0459e8",
        "type": "http request",
        "z": "7dbbdbf3.365084",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 990,
        "y": 620,
        "wires": [
            []
        ]
    }
]